In [139]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\programdata\anaconda3\lib\site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in c:\programdata\anaconda3\lib\site-packages (from pyspark) (0.10.9.3)

In [140]:
import pyspark

In [141]:
import pandas as pd
pd.read_csv('pruebaDs.csv')

     21A_Pr    21A_Es 21A_Ma  21A_Es_Di
0         1  0.500000  HMate          4
1         2  0.226190  HMate          5
2         3  0.273810  HMate          5
3         4  0.297619  HMate          5
4         5  0.678571  HMate          3
..      ...       ...    ...        ...
123     124  0.214286    Qui          5
124     125  0.238095    Qui          5
125     126  0.190476    Qui          5
126     127  0.238095    Qui          5
127     128  0.309524    Qui          5

[128 rows x 4 columns]

In [142]:
from pyspark.sql import SparkSession

In [143]:
spark=SparkSession.builder.appName('pruebaPyspark').getOrCreate()

In [144]:
spark

In [145]:
df_pyspark=spark.read.csv('pruebaDs.csv')

In [146]:
df_pyspark.show()

+------+-----------+-------+---------+
|   _c0|        _c1|    _c2|      _c3|
+------+-----------+-------+---------+
|21A_Pr|     21A_Es| 21A_Ma|21A_Es_Di|
|     1|        0.5|  HMate|        4|
|     2|0.226190476|  HMate|        5|
|     3|0.273809524|  HMate|        5|
|     4|0.297619048|  HMate|        5|
|     5|0.678571429|  HMate|        3|
|     6| 0.69047619|  HMate|        3|
|     7|0.607142857|  HMate|        3|
|     8|0.285714286|  HMate|        5|
|     9| 0.44047619|  HMate|        4|
|    10|0.345238095|  HMate|        4|
|    11|0.178571429|  HMate|        5|
|    12|0.785714286|  HMate|        2|
|    13|0.404761905|  HMate|        4|
|    14|0.476190476|  HMate|        4|
|    15|0.333333333|  HMate|        5|
|    16|0.666666667|  HMate|        3|
|    17|0.380952381|HVerbal|        4|
|    18|0.797619048|HVerbal|        2|
|    19|0.535714286|HVerbal|        3|
+------+-----------+-------+---------+
only showing top 20 rows

In [147]:
df_pyspark=spark.read.option('header','true').csv('pruebaDs.csv')

In [148]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [149]:
df_pyspark.head(3)

[Row(21A_Pr='1', 21A_Es='0.5', 21A_Ma='HMate', 21A_Es_Di='4'),
 Row(21A_Pr='2', 21A_Es='0.226190476', 21A_Ma='HMate', 21A_Es_Di='5'),
 Row(21A_Pr='3', 21A_Es='0.273809524', 21A_Ma='HMate', 21A_Es_Di='5')]

In [150]:
df_pyspark.printSchema()

root
 |-- 21A_Pr: string (nullable = true)
 |-- 21A_Es: string (nullable = true)
 |-- 21A_Ma: string (nullable = true)
 |-- 21A_Es_Di: string (nullable = true)

## Parte 2

In [152]:
## leyendo el archivo
##spark.read.option('header','true').csv('pruebaDs.csv')

## inferir el tipo de dato
df_pyspark=spark.read.option('header','true').csv('pruebaDs.csv', inferSchema=True)
df_pyspark.show()

+------+-----------+-------+---------+
|21A_Pr|     21A_Es| 21A_Ma|21A_Es_Di|
+------+-----------+-------+---------+
|     1|        0.5|  HMate|        4|
|     2|0.226190476|  HMate|        5|
|     3|0.273809524|  HMate|        5|
|     4|0.297619048|  HMate|        5|
|     5|0.678571429|  HMate|        3|
|     6| 0.69047619|  HMate|        3|
|     7|0.607142857|  HMate|        3|
|     8|0.285714286|  HMate|        5|
|     9| 0.44047619|  HMate|        4|
|    10|0.345238095|  HMate|        4|
|    11|0.178571429|  HMate|        5|
|    12|0.785714286|  HMate|        2|
|    13|0.404761905|  HMate|        4|
|    14|0.476190476|  HMate|        4|
|    15|0.333333333|  HMate|        5|
|    16|0.666666667|  HMate|        3|
|    17|0.380952381|HVerbal|        4|
|    18|0.797619048|HVerbal|        2|
|    19|0.535714286|HVerbal|        3|
|    20|0.416666667|HVerbal|        4|
+------+-----------+-------+---------+
only showing top 20 rows

In [153]:
#### check the schema, o sea los tipos
df_pyspark.printSchema()

root
 |-- 21A_Pr: integer (nullable = true)
 |-- 21A_Es: double (nullable = true)
 |-- 21A_Ma: string (nullable = true)
 |-- 21A_Es_Di: integer (nullable = true)

In [154]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [155]:
df_pyspark.head(3)

[Row(21A_Pr=1, 21A_Es=0.5, 21A_Ma='HMate', 21A_Es_Di=4),
 Row(21A_Pr=2, 21A_Es=0.226190476, 21A_Ma='HMate', 21A_Es_Di=5),
 Row(21A_Pr=3, 21A_Es=0.273809524, 21A_Ma='HMate', 21A_Es_Di=5)]

In [156]:
#selecionando solo la columna
df_pyspark.select(['21a_Es','21A_Ma']).show()

+-----------+-------+
|     21a_Es| 21A_Ma|
+-----------+-------+
|        0.5|  HMate|
|0.226190476|  HMate|
|0.273809524|  HMate|
|0.297619048|  HMate|
|0.678571429|  HMate|
| 0.69047619|  HMate|
|0.607142857|  HMate|
|0.285714286|  HMate|
| 0.44047619|  HMate|
|0.345238095|  HMate|
|0.178571429|  HMate|
|0.785714286|  HMate|
|0.404761905|  HMate|
|0.476190476|  HMate|
|0.333333333|  HMate|
|0.666666667|  HMate|
|0.380952381|HVerbal|
|0.797619048|HVerbal|
|0.535714286|HVerbal|
|0.416666667|HVerbal|
+-----------+-------+
only showing top 20 rows

In [157]:
#similar al schema
df_pyspark.dtypes

[('21A_Pr', 'int'),
 ('21A_Es', 'double'),
 ('21A_Ma', 'string'),
 ('21A_Es_Di', 'int')]

In [158]:
df_pyspark.describe().show()

+-------+------------------+-------------------+------+------------------+
|summary|            21A_Pr|             21A_Es|21A_Ma|         21A_Es_Di|
+-------+------------------+-------------------+------+------------------+
|  count|               128|                128|   128|               128|
|   mean|              64.5|0.46019345241406256|  null|         3.8359375|
| stddev|37.094473981982816| 0.2012692369613208|  null|1.0851709379479937|
|    min|                 1|        0.047619048|   Bio|                 1|
|    max|               128|         0.94047619|   Qui|                 5|
+-------+------------------+-------------------+------+------------------+

In [159]:
#### Agreggar columnas
df_pyspark=df_pyspark.withColumn('Nueva',df_pyspark['21A_Pr']+1)

In [161]:
### Eliminar
df_pyspark=df_pyspark.drop('Nueva')

In [162]:
df_pyspark.show()

+------+-----------+-------+---------+
|21A_Pr|     21A_Es| 21A_Ma|21A_Es_Di|
+------+-----------+-------+---------+
|     1|        0.5|  HMate|        4|
|     2|0.226190476|  HMate|        5|
|     3|0.273809524|  HMate|        5|
|     4|0.297619048|  HMate|        5|
|     5|0.678571429|  HMate|        3|
|     6| 0.69047619|  HMate|        3|
|     7|0.607142857|  HMate|        3|
|     8|0.285714286|  HMate|        5|
|     9| 0.44047619|  HMate|        4|
|    10|0.345238095|  HMate|        4|
|    11|0.178571429|  HMate|        5|
|    12|0.785714286|  HMate|        2|
|    13|0.404761905|  HMate|        4|
|    14|0.476190476|  HMate|        4|
|    15|0.333333333|  HMate|        5|
|    16|0.666666667|  HMate|        3|
|    17|0.380952381|HVerbal|        4|
|    18|0.797619048|HVerbal|        2|
|    19|0.535714286|HVerbal|        3|
|    20|0.416666667|HVerbal|        4|
+------+-----------+-------+---------+
only showing top 20 rows

In [ ]:
### Renombrar la columna
df_pysp ark.withColumnRenamed('21A_Ma','Materia')

## Parte 3
### Tratando con valores nulos

In [168]:
spark.read.csv('pds2.csv',header=True, inferSchema=True).show()
df_pyspark=spark.read.csv('pds2.csv',header=True, inferSchema=True)

+------+-----------+------+---------+
|21A_Pr|     21A_Es|21A_Ma|21A_Es_Di|
+------+-----------+------+---------+
|   129|       null| Light|        4|
|  null|    0.34532| Water|        5|
|   131|    0.99999|  null|        1|
|   132|      0.865|  Dark|     null|
|   133|       null|  Fire|     null|
|     1|        0.5| HMate|        4|
|     2|0.226190476| HMate|        5|
|     3|0.273809524| HMate|        5|
|     4|0.297619048| HMate|        5|
|     5|0.678571429| HMate|        3|
|     6| 0.69047619| HMate|        3|
|     7|0.607142857| HMate|        3|
|     8|0.285714286| HMate|        5|
|     9| 0.44047619| HMate|        4|
|    10|0.345238095| HMate|        4|
|    11|0.178571429| HMate|        5|
|    12|0.785714286| HMate|        2|
|    13|0.404761905| HMate|        4|
|    14|0.476190476| HMate|        4|
|    15|0.333333333| HMate|        5|
+------+-----------+------+---------+
only showing top 20 rows

In [172]:
df_pyspark.na.drop(how='any').show()

+------+-----------+-------+---------+
|21A_Pr|     21A_Es| 21A_Ma|21A_Es_Di|
+------+-----------+-------+---------+
|     1|        0.5|  HMate|        4|
|     2|0.226190476|  HMate|        5|
|     3|0.273809524|  HMate|        5|
|     4|0.297619048|  HMate|        5|
|     5|0.678571429|  HMate|        3|
|     6| 0.69047619|  HMate|        3|
|     7|0.607142857|  HMate|        3|
|     8|0.285714286|  HMate|        5|
|     9| 0.44047619|  HMate|        4|
|    10|0.345238095|  HMate|        4|
|    11|0.178571429|  HMate|        5|
|    12|0.785714286|  HMate|        2|
|    13|0.404761905|  HMate|        4|
|    14|0.476190476|  HMate|        4|
|    15|0.333333333|  HMate|        5|
|    16|0.666666667|  HMate|        3|
|    17|0.380952381|HVerbal|        4|
|    18|0.797619048|HVerbal|        2|
|    19|0.535714286|HVerbal|        3|
|    20|0.416666667|HVerbal|        4|
+------+-----------+-------+---------+
only showing top 20 rows

In [176]:
### thershold
df_pyspark.na.drop(how='any', thresh=1).show()

+------+-----------+------+---------+
|21A_Pr|     21A_Es|21A_Ma|21A_Es_Di|
+------+-----------+------+---------+
|   129|       null| Light|        4|
|  null|    0.34532| Water|        5|
|   131|    0.99999|  null|        1|
|   132|      0.865|  Dark|     null|
|   133|       null|  Fire|     null|
|     1|        0.5| HMate|        4|
|     2|0.226190476| HMate|        5|
|     3|0.273809524| HMate|        5|
|     4|0.297619048| HMate|        5|
|     5|0.678571429| HMate|        3|
|     6| 0.69047619| HMate|        3|
|     7|0.607142857| HMate|        3|
|     8|0.285714286| HMate|        5|
|     9| 0.44047619| HMate|        4|
|    10|0.345238095| HMate|        4|
|    11|0.178571429| HMate|        5|
|    12|0.785714286| HMate|        2|
|    13|0.404761905| HMate|        4|
|    14|0.476190476| HMate|        4|
|    15|0.333333333| HMate|        5|
+------+-----------+------+---------+
only showing top 20 rows

In [177]:
### thershold
df_pyspark.na.drop(how='any',subset='21A_Es_Di').show()

+------+-----------+-------+---------+
|21A_Pr|     21A_Es| 21A_Ma|21A_Es_Di|
+------+-----------+-------+---------+
|   129|       null|  Light|        4|
|  null|    0.34532|  Water|        5|
|   131|    0.99999|   null|        1|
|     1|        0.5|  HMate|        4|
|     2|0.226190476|  HMate|        5|
|     3|0.273809524|  HMate|        5|
|     4|0.297619048|  HMate|        5|
|     5|0.678571429|  HMate|        3|
|     6| 0.69047619|  HMate|        3|
|     7|0.607142857|  HMate|        3|
|     8|0.285714286|  HMate|        5|
|     9| 0.44047619|  HMate|        4|
|    10|0.345238095|  HMate|        4|
|    11|0.178571429|  HMate|        5|
|    12|0.785714286|  HMate|        2|
|    13|0.404761905|  HMate|        4|
|    14|0.476190476|  HMate|        4|
|    15|0.333333333|  HMate|        5|
|    16|0.666666667|  HMate|        3|
|    17|0.380952381|HVerbal|        4|
+------+-----------+-------+---------+
only showing top 20 rows

In [186]:
df_pyspark.na.fill(1000).show() ## Columnas con tipo de dato numerico (doble o enterlo)
df_pyspark.na.fill("N/A").show()  ## Coluimnas con tipo de dato string
df_pyspark.na.fill(999,subset="21A_Es_Di").show()  ## Columna especifica

+------+-----------+------+---------+
|21A_Pr|     21A_Es|21A_Ma|21A_Es_Di|
+------+-----------+------+---------+
|   129|     1000.0| Light|        4|
|  1000|    0.34532| Water|        5|
|   131|    0.99999|  null|        1|
|   132|      0.865|  Dark|     1000|
|   133|     1000.0|  Fire|     1000|
|     1|        0.5| HMate|        4|
|     2|0.226190476| HMate|        5|
|     3|0.273809524| HMate|        5|
|     4|0.297619048| HMate|        5|
|     5|0.678571429| HMate|        3|
|     6| 0.69047619| HMate|        3|
|     7|0.607142857| HMate|        3|
|     8|0.285714286| HMate|        5|
|     9| 0.44047619| HMate|        4|
|    10|0.345238095| HMate|        4|
|    11|0.178571429| HMate|        5|
|    12|0.785714286| HMate|        2|
|    13|0.404761905| HMate|        4|
|    14|0.476190476| HMate|        4|
|    15|0.333333333| HMate|        5|
+------+-----------+------+---------+
only showing top 20 rows

+------+-----------+------+---------+
|21A_Pr|     21A_Es|21A_Ma|21A_Es_Di|
+------+-----------+------+---------+
|   129|       null| Light|        4|
|  null|    0.34532| Water|        5|
|   131|    0.99999|   N/A|        1|
|   132|      0.865|  Dark|     null|
|   133|       null|  Fire|     null|
|     1|        0.5| HMate|        4|
|     2|0.226190476| HMate|        5|
|     3|0.273809524| HMate|        5|
|     4|0.297619048| HMate|        5|
|     5|0.678571429| HMate|        3|
|     6| 0.69047619| HMate|        3|
|     7|0.607142857| HMate|        3|
|     8|0.285714286| HMate|        5|
|     9| 0.44047619| HMate|        4|
|    10|0.345238095| HMate|        4|
|    11|0.178571429| HMate|        5|
|    12|0.785714286| HMate|        2|
|    13|0.404761905| HMate|        4|
|    14|0.476190476| HMate|        4|
|    15|0.333333333| HMate|        5|
+------+-----------+------+---------+
only showing top 20 rows

+------+-----------+------+---------+
|21A_Pr|     21A_Es|21A_Ma|21A_Es_Di|
+------+-----------+------+---------+
|   129|       null| Light|        4|
|  null|    0.34532| Water|        5|
|   131|    0.99999|  null|        1|
|   132|      0.865|  Dark|      999|
|   133|       null|  Fire|      999|
|     1|        0.5| HMate|        4|
|     2|0.226190476| HMate|        5|
|     3|0.273809524| HMate|        5|
|     4|0.297619048| HMate|        5|
|     5|0.678571429| HMate|        3|
|     6| 0.69047619| HMate|        3|
|     7|0.607142857| HMate|        3|
|     8|0.285714286| HMate|        5|
|     9| 0.44047619| HMate|        4|
|    10|0.345238095| HMate|        4|
|    11|0.178571429| HMate|        5|
|    12|0.785714286| HMate|        2|
|    13|0.404761905| HMate|        4|
|    14|0.476190476| HMate|        4|
|    15|0.333333333| HMate|        5|
+------+-----------+------+---------+
only showing top 20 rows

In [190]:
from pyspark.ml.feature import Imputer

imputer = Imputer( 
    inputCols=['21A_Pr','21A_Es_Di'],
    outputCols=["{}_imputed".format(c) for c in ['21A_Pr','21A_Es_Di'] ]
).setStrategy("mean")

## Inversigar Imputer

In [192]:
## Se añaden las columnas imputadas al dataFrame
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+-----------+------+---------+--------------+-----------------+
|21A_Pr|     21A_Es|21A_Ma|21A_Es_Di|21A_Pr_imputed|21A_Es_Di_imputed|
+------+-----------+------+---------+--------------+-----------------+
|   129|       null| Light|        4|           129|                4|
|  null|    0.34532| Water|        5|            66|                5|
|   131|    0.99999|  null|        1|           131|                1|
|   132|      0.865|  Dark|     null|           132|                3|
|   133|       null|  Fire|     null|           133|                3|
|     1|        0.5| HMate|        4|             1|                4|
|     2|0.226190476| HMate|        5|             2|                5|
|     3|0.273809524| HMate|        5|             3|                5|
|     4|0.297619048| HMate|        5|             4|                5|
|     5|0.678571429| HMate|        3|             5|                3|
|     6| 0.69047619| HMate|        3|             6|                3|
|     7|0.607142857| HMate|        3|             7|                3|
|     8|0.285714286| HMate|        5|             8|                5|
|     9| 0.44047619| HMate|        4|             9|                4|
|    10|0.345238095| HMate|        4|            10|                4|
|    11|0.178571429| HMate|        5|            11|                5|
|    12|0.785714286| HMate|        2|            12|                2|
|    13|0.404761905| HMate|        4|            13|                4|
|    14|0.476190476| HMate|        4|            14|                4|
|    15|0.333333333| HMate|        5|            15|                5|
+------+-----------+------+---------+--------------+-----------------+
only showing top 20 rows