In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\programdata\anaconda3\lib\site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in c:\programdata\anaconda3\lib\site-packages (from pyspark) (0.10.9.3)

In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv('pruebaDs.csv')

     21A_Pr    21A_Es 21A_Ma  21A_Es_Di
0       1.0  0.500000  HMate          4
1       2.0  0.226190  HMate          5
2       3.0  0.273810  HMate          5
3       4.0  0.297619  HMate          5
4       5.0  0.678571  HMate          3
..      ...       ...    ...        ...
126   127.0  0.238095    Qui          5
127   128.0  0.309524    Qui          5
128   129.0       NaN  Light          4
129     NaN  0.345320  Light          5
130   131.0  0.999990    NaN          1

[131 rows x 4 columns]

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('pruebaPyspark').getOrCreate()

In [6]:
spark

In [7]:
df_pyspark=spark.read.csv('pruebaDs.csv')

In [8]:
df_pyspark.show()

+------+-----------+-------+---------+
|   _c0|        _c1|    _c2|      _c3|
+------+-----------+-------+---------+
|21A_Pr|     21A_Es| 21A_Ma|21A_Es_Di|
|     1|        0.5|  HMate|        4|
|     2|0.226190476|  HMate|        5|
|     3|0.273809524|  HMate|        5|
|     4|0.297619048|  HMate|        5|
|     5|0.678571429|  HMate|        3|
|     6| 0.69047619|  HMate|        3|
|     7|0.607142857|  HMate|        3|
|     8|0.285714286|  HMate|        5|
|     9| 0.44047619|  HMate|        4|
|    10|0.345238095|  HMate|        4|
|    11|0.178571429|  HMate|        5|
|    12|0.785714286|  HMate|        2|
|    13|0.404761905|  HMate|        4|
|    14|0.476190476|  HMate|        4|
|    15|0.333333333|  HMate|        5|
|    16|0.666666667|  HMate|        3|
|    17|0.380952381|HVerbal|        4|
|    18|0.797619048|HVerbal|        2|
|    19|0.535714286|HVerbal|        3|
+------+-----------+-------+---------+
only showing top 20 rows

In [9]:
df_pyspark=spark.read.option('header','true').csv('pruebaDs.csv')

In [10]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [11]:
df_pyspark.head(3)

[Row(21A_Pr='1', 21A_Es='0.5', 21A_Ma='HMate', 21A_Es_Di='4'),
 Row(21A_Pr='2', 21A_Es='0.226190476', 21A_Ma='HMate', 21A_Es_Di='5'),
 Row(21A_Pr='3', 21A_Es='0.273809524', 21A_Ma='HMate', 21A_Es_Di='5')]

In [12]:
df_pyspark.printSchema()

root
 |-- 21A_Pr: string (nullable = true)
 |-- 21A_Es: string (nullable = true)
 |-- 21A_Ma: string (nullable = true)
 |-- 21A_Es_Di: string (nullable = true)

## Parte 2

In [13]:
## leyendo el archivo
##spark.read.option('header','true').csv('pruebaDs.csv')

## inferir el tipo de dato
df_pyspark=spark.read.option('header','true').csv('pruebaDs.csv', inferSchema=True)
df_pyspark.show()

+------+-----------+-------+---------+
|21A_Pr|     21A_Es| 21A_Ma|21A_Es_Di|
+------+-----------+-------+---------+
|     1|        0.5|  HMate|        4|
|     2|0.226190476|  HMate|        5|
|     3|0.273809524|  HMate|        5|
|     4|0.297619048|  HMate|        5|
|     5|0.678571429|  HMate|        3|
|     6| 0.69047619|  HMate|        3|
|     7|0.607142857|  HMate|        3|
|     8|0.285714286|  HMate|        5|
|     9| 0.44047619|  HMate|        4|
|    10|0.345238095|  HMate|        4|
|    11|0.178571429|  HMate|        5|
|    12|0.785714286|  HMate|        2|
|    13|0.404761905|  HMate|        4|
|    14|0.476190476|  HMate|        4|
|    15|0.333333333|  HMate|        5|
|    16|0.666666667|  HMate|        3|
|    17|0.380952381|HVerbal|        4|
|    18|0.797619048|HVerbal|        2|
|    19|0.535714286|HVerbal|        3|
|    20|0.416666667|HVerbal|        4|
+------+-----------+-------+---------+
only showing top 20 rows

In [14]:
#### check the schema, o sea los tipos
df_pyspark.printSchema()

root
 |-- 21A_Pr: integer (nullable = true)
 |-- 21A_Es: double (nullable = true)
 |-- 21A_Ma: string (nullable = true)
 |-- 21A_Es_Di: integer (nullable = true)

In [15]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [16]:
df_pyspark.head(3)

[Row(21A_Pr=1, 21A_Es=0.5, 21A_Ma='HMate', 21A_Es_Di=4),
 Row(21A_Pr=2, 21A_Es=0.226190476, 21A_Ma='HMate', 21A_Es_Di=5),
 Row(21A_Pr=3, 21A_Es=0.273809524, 21A_Ma='HMate', 21A_Es_Di=5)]

In [17]:
#selecionando solo la columna
df_pyspark.select(['21a_Es','21A_Ma']).show()

+-----------+-------+
|     21a_Es| 21A_Ma|
+-----------+-------+
|        0.5|  HMate|
|0.226190476|  HMate|
|0.273809524|  HMate|
|0.297619048|  HMate|
|0.678571429|  HMate|
| 0.69047619|  HMate|
|0.607142857|  HMate|
|0.285714286|  HMate|
| 0.44047619|  HMate|
|0.345238095|  HMate|
|0.178571429|  HMate|
|0.785714286|  HMate|
|0.404761905|  HMate|
|0.476190476|  HMate|
|0.333333333|  HMate|
|0.666666667|  HMate|
|0.380952381|HVerbal|
|0.797619048|HVerbal|
|0.535714286|HVerbal|
|0.416666667|HVerbal|
+-----------+-------+
only showing top 20 rows

In [18]:
#similar al schema
df_pyspark.dtypes

[('21A_Pr', 'int'),
 ('21A_Es', 'double'),
 ('21A_Ma', 'string'),
 ('21A_Es_Di', 'int')]

In [19]:
df_pyspark.describe().show()

+-------+-----------------+-------------------+------+------------------+
|summary|           21A_Pr|             21A_Es|21A_Ma|         21A_Es_Di|
+-------+-----------------+-------------------+------+------------------+
|  count|              130|                130|   130|               131|
|   mean|65.50769230769231|0.46346209160769236|  null|3.8244274809160306|
| stddev|37.68520079519756|0.20550314757279575|  null| 1.105795335288896|
|    min|                1|        0.047619048|   Bio|                 1|
|    max|              131|            0.99999|   Qui|                 5|
+-------+-----------------+-------------------+------+------------------+

In [20]:
#### Agreggar columnas
df_pyspark=df_pyspark.withColumn('Nueva',df_pyspark['21A_Pr']+1)

In [21]:
### Eliminar
df_pyspark=df_pyspark.drop('Nueva')

In [22]:
df_pyspark.show()

+------+-----------+-------+---------+
|21A_Pr|     21A_Es| 21A_Ma|21A_Es_Di|
+------+-----------+-------+---------+
|     1|        0.5|  HMate|        4|
|     2|0.226190476|  HMate|        5|
|     3|0.273809524|  HMate|        5|
|     4|0.297619048|  HMate|        5|
|     5|0.678571429|  HMate|        3|
|     6| 0.69047619|  HMate|        3|
|     7|0.607142857|  HMate|        3|
|     8|0.285714286|  HMate|        5|
|     9| 0.44047619|  HMate|        4|
|    10|0.345238095|  HMate|        4|
|    11|0.178571429|  HMate|        5|
|    12|0.785714286|  HMate|        2|
|    13|0.404761905|  HMate|        4|
|    14|0.476190476|  HMate|        4|
|    15|0.333333333|  HMate|        5|
|    16|0.666666667|  HMate|        3|
|    17|0.380952381|HVerbal|        4|
|    18|0.797619048|HVerbal|        2|
|    19|0.535714286|HVerbal|        3|
|    20|0.416666667|HVerbal|        4|
+------+-----------+-------+---------+
only showing top 20 rows

In [23]:
### Renombrar la columna
df_pyspark.withColumnRenamed('21A_Ma','Materia')

DataFrame[21A_Pr: int, 21A_Es: double, Materia: string, 21A_Es_Di: int]

## Parte 3
### Tratando con valores nulos

In [24]:
spark.read.csv('pds2.csv',header=True, inferSchema=True).show()
df_pyspark=spark.read.csv('pds2.csv',header=True, inferSchema=True)

+------+-----------+------+---------+
|21A_Pr|     21A_Es|21A_Ma|21A_Es_Di|
+------+-----------+------+---------+
|   129|       null| Light|        4|
|  null|    0.34532| Water|        5|
|   131|    0.99999|  null|        1|
|   132|      0.865|  Dark|     null|
|   133|       null|  Fire|     null|
|     1|        0.5| HMate|        4|
|     2|0.226190476| HMate|        5|
|     3|0.273809524| HMate|        5|
|     4|0.297619048| HMate|        5|
|     5|0.678571429| HMate|        3|
|     6| 0.69047619| HMate|        3|
|     7|0.607142857| HMate|        3|
|     8|0.285714286| HMate|        5|
|     9| 0.44047619| HMate|        4|
|    10|0.345238095| HMate|        4|
|    11|0.178571429| HMate|        5|
|    12|0.785714286| HMate|        2|
|    13|0.404761905| HMate|        4|
|    14|0.476190476| HMate|        4|
|    15|0.333333333| HMate|        5|
+------+-----------+------+---------+
only showing top 20 rows

In [25]:
df_pyspark.na.drop(how='any').show()

+------+-----------+-------+---------+
|21A_Pr|     21A_Es| 21A_Ma|21A_Es_Di|
+------+-----------+-------+---------+
|     1|        0.5|  HMate|        4|
|     2|0.226190476|  HMate|        5|
|     3|0.273809524|  HMate|        5|
|     4|0.297619048|  HMate|        5|
|     5|0.678571429|  HMate|        3|
|     6| 0.69047619|  HMate|        3|
|     7|0.607142857|  HMate|        3|
|     8|0.285714286|  HMate|        5|
|     9| 0.44047619|  HMate|        4|
|    10|0.345238095|  HMate|        4|
|    11|0.178571429|  HMate|        5|
|    12|0.785714286|  HMate|        2|
|    13|0.404761905|  HMate|        4|
|    14|0.476190476|  HMate|        4|
|    15|0.333333333|  HMate|        5|
|    16|0.666666667|  HMate|        3|
|    17|0.380952381|HVerbal|        4|
|    18|0.797619048|HVerbal|        2|
|    19|0.535714286|HVerbal|        3|
|    20|0.416666667|HVerbal|        4|
+------+-----------+-------+---------+
only showing top 20 rows

In [26]:
### thershold
df_pyspark.na.drop(how='any', thresh=1).show()

+------+-----------+------+---------+
|21A_Pr|     21A_Es|21A_Ma|21A_Es_Di|
+------+-----------+------+---------+
|   129|       null| Light|        4|
|  null|    0.34532| Water|        5|
|   131|    0.99999|  null|        1|
|   132|      0.865|  Dark|     null|
|   133|       null|  Fire|     null|
|     1|        0.5| HMate|        4|
|     2|0.226190476| HMate|        5|
|     3|0.273809524| HMate|        5|
|     4|0.297619048| HMate|        5|
|     5|0.678571429| HMate|        3|
|     6| 0.69047619| HMate|        3|
|     7|0.607142857| HMate|        3|
|     8|0.285714286| HMate|        5|
|     9| 0.44047619| HMate|        4|
|    10|0.345238095| HMate|        4|
|    11|0.178571429| HMate|        5|
|    12|0.785714286| HMate|        2|
|    13|0.404761905| HMate|        4|
|    14|0.476190476| HMate|        4|
|    15|0.333333333| HMate|        5|
+------+-----------+------+---------+
only showing top 20 rows

In [27]:
### thershold
df_pyspark.na.drop(how='any',subset='21A_Es_Di').show()

+------+-----------+-------+---------+
|21A_Pr|     21A_Es| 21A_Ma|21A_Es_Di|
+------+-----------+-------+---------+
|   129|       null|  Light|        4|
|  null|    0.34532|  Water|        5|
|   131|    0.99999|   null|        1|
|     1|        0.5|  HMate|        4|
|     2|0.226190476|  HMate|        5|
|     3|0.273809524|  HMate|        5|
|     4|0.297619048|  HMate|        5|
|     5|0.678571429|  HMate|        3|
|     6| 0.69047619|  HMate|        3|
|     7|0.607142857|  HMate|        3|
|     8|0.285714286|  HMate|        5|
|     9| 0.44047619|  HMate|        4|
|    10|0.345238095|  HMate|        4|
|    11|0.178571429|  HMate|        5|
|    12|0.785714286|  HMate|        2|
|    13|0.404761905|  HMate|        4|
|    14|0.476190476|  HMate|        4|
|    15|0.333333333|  HMate|        5|
|    16|0.666666667|  HMate|        3|
|    17|0.380952381|HVerbal|        4|
+------+-----------+-------+---------+
only showing top 20 rows

In [28]:
df_pyspark.na.fill(1000).show() ## Columnas con tipo de dato numerico (doble o enterlo)
df_pyspark.na.fill("N/A").show()  ## Coluimnas con tipo de dato string
df_pyspark.na.fill(999,subset="21A_Es_Di").show()  ## Columna especifica

+------+-----------+------+---------+
|21A_Pr|     21A_Es|21A_Ma|21A_Es_Di|
+------+-----------+------+---------+
|   129|     1000.0| Light|        4|
|  1000|    0.34532| Water|        5|
|   131|    0.99999|  null|        1|
|   132|      0.865|  Dark|     1000|
|   133|     1000.0|  Fire|     1000|
|     1|        0.5| HMate|        4|
|     2|0.226190476| HMate|        5|
|     3|0.273809524| HMate|        5|
|     4|0.297619048| HMate|        5|
|     5|0.678571429| HMate|        3|
|     6| 0.69047619| HMate|        3|
|     7|0.607142857| HMate|        3|
|     8|0.285714286| HMate|        5|
|     9| 0.44047619| HMate|        4|
|    10|0.345238095| HMate|        4|
|    11|0.178571429| HMate|        5|
|    12|0.785714286| HMate|        2|
|    13|0.404761905| HMate|        4|
|    14|0.476190476| HMate|        4|
|    15|0.333333333| HMate|        5|
+------+-----------+------+---------+
only showing top 20 rows

+------+-----------+------+---------+
|21A_Pr|     21A_Es|21A_Ma|21A_Es_Di|
+------+-----------+------+---------+
|   129|       null| Light|        4|
|  null|    0.34532| Water|        5|
|   131|    0.99999|   N/A|        1|
|   132|      0.865|  Dark|     null|
|   133|       null|  Fire|     null|
|     1|        0.5| HMate|        4|
|     2|0.226190476| HMate|        5|
|     3|0.273809524| HMate|        5|
|     4|0.297619048| HMate|        5|
|     5|0.678571429| HMate|        3|
|     6| 0.69047619| HMate|        3|
|     7|0.607142857| HMate|        3|
|     8|0.285714286| HMate|        5|
|     9| 0.44047619| HMate|        4|
|    10|0.345238095| HMate|        4|
|    11|0.178571429| HMate|        5|
|    12|0.785714286| HMate|        2|
|    13|0.404761905| HMate|        4|
|    14|0.476190476| HMate|        4|
|    15|0.333333333| HMate|        5|
+------+-----------+------+---------+
only showing top 20 rows

+------+-----------+------+---------+
|21A_Pr|     21A_Es|21A_Ma|21A_Es_Di|
+------+-----------+------+---------+
|   129|       null| Light|        4|
|  null|    0.34532| Water|        5|
|   131|    0.99999|  null|        1|
|   132|      0.865|  Dark|      999|
|   133|       null|  Fire|      999|
|     1|        0.5| HMate|        4|
|     2|0.226190476| HMate|        5|
|     3|0.273809524| HMate|        5|
|     4|0.297619048| HMate|        5|
|     5|0.678571429| HMate|        3|
|     6| 0.69047619| HMate|        3|
|     7|0.607142857| HMate|        3|
|     8|0.285714286| HMate|        5|
|     9| 0.44047619| HMate|        4|
|    10|0.345238095| HMate|        4|
|    11|0.178571429| HMate|        5|
|    12|0.785714286| HMate|        2|
|    13|0.404761905| HMate|        4|
|    14|0.476190476| HMate|        4|
|    15|0.333333333| HMate|        5|
+------+-----------+------+---------+
only showing top 20 rows

In [29]:
from pyspark.ml.feature import Imputer

imputer = Imputer( 
    inputCols=['21A_Pr','21A_Es_Di'],
    outputCols=["{}_imputed".format(c) for c in ['21A_Pr','21A_Es_Di'] ]
).setStrategy("mean")

## Inversigar Imputer

In [30]:
## Se añaden las columnas imputadas al dataFrame
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+-----------+------+---------+--------------+-----------------+
|21A_Pr|     21A_Es|21A_Ma|21A_Es_Di|21A_Pr_imputed|21A_Es_Di_imputed|
+------+-----------+------+---------+--------------+-----------------+
|   129|       null| Light|        4|           129|                4|
|  null|    0.34532| Water|        5|            66|                5|
|   131|    0.99999|  null|        1|           131|                1|
|   132|      0.865|  Dark|     null|           132|                3|
|   133|       null|  Fire|     null|           133|                3|
|     1|        0.5| HMate|        4|             1|                4|
|     2|0.226190476| HMate|        5|             2|                5|
|     3|0.273809524| HMate|        5|             3|                5|
|     4|0.297619048| HMate|        5|             4|                5|
|     5|0.678571429| HMate|        3|             5|                3|
|     6| 0.69047619| HMate|        3|             6|                3|
|     7|0.607142857| HMate|        3|             7|                3|
|     8|0.285714286| HMate|        5|             8|                5|
|     9| 0.44047619| HMate|        4|             9|                4|
|    10|0.345238095| HMate|        4|            10|                4|
|    11|0.178571429| HMate|        5|            11|                5|
|    12|0.785714286| HMate|        2|            12|                2|
|    13|0.404761905| HMate|        4|            13|                4|
|    14|0.476190476| HMate|        4|            14|                4|
|    15|0.333333333| HMate|        5|            15|                5|
+------+-----------+------+---------+--------------+-----------------+
only showing top 20 rows

In [31]:
df_pyspark.show()

+------+-----------+------+---------+
|21A_Pr|     21A_Es|21A_Ma|21A_Es_Di|
+------+-----------+------+---------+
|   129|       null| Light|        4|
|  null|    0.34532| Water|        5|
|   131|    0.99999|  null|        1|
|   132|      0.865|  Dark|     null|
|   133|       null|  Fire|     null|
|     1|        0.5| HMate|        4|
|     2|0.226190476| HMate|        5|
|     3|0.273809524| HMate|        5|
|     4|0.297619048| HMate|        5|
|     5|0.678571429| HMate|        3|
|     6| 0.69047619| HMate|        3|
|     7|0.607142857| HMate|        3|
|     8|0.285714286| HMate|        5|
|     9| 0.44047619| HMate|        4|
|    10|0.345238095| HMate|        4|
|    11|0.178571429| HMate|        5|
|    12|0.785714286| HMate|        2|
|    13|0.404761905| HMate|        4|
|    14|0.476190476| HMate|        4|
|    15|0.333333333| HMate|        5|
+------+-----------+------+---------+
only showing top 20 rows

In [32]:
df_pyspark=spark.read.csv('pds1.csv', header=True, inferSchema=True)

In [33]:
df_pyspark.show()

+------+-----------+-------+---------+
|21A_Pr|     21A_Es| 21A_Ma|21A_Es_Di|
+------+-----------+-------+---------+
|     1|        0.5|  HMate|        4|
|     2|0.226190476|  HMate|        5|
|     3|0.273809524|  HMate|        5|
|     4|0.297619048|  HMate|        5|
|     5|0.678571429|  HMate|        3|
|     6| 0.69047619|  HMate|        3|
|     7|0.607142857|  HMate|        3|
|     8|0.285714286|  HMate|        5|
|     9| 0.44047619|  HMate|        4|
|    10|0.345238095|  HMate|        4|
|    11|0.178571429|  HMate|        5|
|    12|0.785714286|  HMate|        2|
|    13|0.404761905|  HMate|        4|
|    14|0.476190476|  HMate|        4|
|    15|0.333333333|  HMate|        5|
|    16|0.666666667|  HMate|        3|
|    17|0.380952381|HVerbal|        4|
|    18|0.797619048|HVerbal|        2|
|    19|0.535714286|HVerbal|        3|
|    20|0.416666667|HVerbal|        4|
+------+-----------+-------+---------+
only showing top 20 rows

In [34]:
from pyspark.sql.functions import col
import os

nuevosNombres= [("21A_Pr","numPregunta"),("21A_Es","estadistica"),("21A_Ma","materia"),("21A_Es_Di","dificultad")]
type(nuevosNombres)

columnExprs = [col(elem[0]).alias(elem[1]) for elem in nuevosNombres]
type(columnExprs)
columnExprs

[Column<'21A_Pr AS numPregunta'>,
 Column<'21A_Es AS estadistica'>,
 Column<'21A_Ma AS materia'>,
 Column<'21A_Es_Di AS dificultad'>]

In [35]:
transformed_df=df_pyspark.select(*columnExprs)
type(transformed_df)
transformed_df.show()

+-----------+-----------+-------+----------+
|numPregunta|estadistica|materia|dificultad|
+-----------+-----------+-------+----------+
|          1|        0.5|  HMate|         4|
|          2|0.226190476|  HMate|         5|
|          3|0.273809524|  HMate|         5|
|          4|0.297619048|  HMate|         5|
|          5|0.678571429|  HMate|         3|
|          6| 0.69047619|  HMate|         3|
|          7|0.607142857|  HMate|         3|
|          8|0.285714286|  HMate|         5|
|          9| 0.44047619|  HMate|         4|
|         10|0.345238095|  HMate|         4|
|         11|0.178571429|  HMate|         5|
|         12|0.785714286|  HMate|         2|
|         13|0.404761905|  HMate|         4|
|         14|0.476190476|  HMate|         4|
|         15|0.333333333|  HMate|         5|
|         16|0.666666667|  HMate|         3|
|         17|0.380952381|HVerbal|         4|
|         18|0.797619048|HVerbal|         2|
|         19|0.535714286|HVerbal|         3|
|         20|0.416666667|HVerbal|         4|
+-----------+-----------+-------+----------+
only showing top 20 rows

## Pyspark Data frame
- Filter Operation
- &, | , ==
- ~

In [36]:
df_pyspark = transformed_df
df_pyspark.show()

+-----------+-----------+-------+----------+
|numPregunta|estadistica|materia|dificultad|
+-----------+-----------+-------+----------+
|          1|        0.5|  HMate|         4|
|          2|0.226190476|  HMate|         5|
|          3|0.273809524|  HMate|         5|
|          4|0.297619048|  HMate|         5|
|          5|0.678571429|  HMate|         3|
|          6| 0.69047619|  HMate|         3|
|          7|0.607142857|  HMate|         3|
|          8|0.285714286|  HMate|         5|
|          9| 0.44047619|  HMate|         4|
|         10|0.345238095|  HMate|         4|
|         11|0.178571429|  HMate|         5|
|         12|0.785714286|  HMate|         2|
|         13|0.404761905|  HMate|         4|
|         14|0.476190476|  HMate|         4|
|         15|0.333333333|  HMate|         5|
|         16|0.666666667|  HMate|         3|
|         17|0.380952381|HVerbal|         4|
|         18|0.797619048|HVerbal|         2|
|         19|0.535714286|HVerbal|         3|
|         20|0.416666667|HVerbal|         4|
+-----------+-----------+-------+----------+
only showing top 20 rows

### Filter operations

In [37]:
### Filtros
df_pyspark.filter("dificultad <=3").show()

+-----------+-----------+-------+----------+
|numPregunta|estadistica|materia|dificultad|
+-----------+-----------+-------+----------+
|          5|0.678571429|  HMate|         3|
|          6| 0.69047619|  HMate|         3|
|          7|0.607142857|  HMate|         3|
|         12|0.785714286|  HMate|         2|
|         16|0.666666667|  HMate|         3|
|         18|0.797619048|HVerbal|         2|
|         19|0.535714286|HVerbal|         3|
|         21|0.857142857|HVerbal|         2|
|         22|0.761904762|HVerbal|         2|
|         23| 0.69047619|HVerbal|         3|
|         24|0.607142857|HVerbal|         3|
|         25|0.761904762|HVerbal|         2|
|         28|0.797619048|HVerbal|         2|
|         30|0.547619048|HVerbal|         3|
|         32|0.619047619|HVerbal|         3|
|         38|0.619047619|    Bio|         3|
|         40|0.714285714|    Bio|         3|
|         44|0.761904762|    Bio|         2|
|         47|0.916666667|    Civ|         1|
|         49|0.595238095|    Civ|         3|
+-----------+-----------+-------+----------+
only showing top 20 rows

In [38]:
df_pyspark.filter('dificultad <=3').select(["numPregunta","materia"]).show()

+-----------+-------+
|numPregunta|materia|
+-----------+-------+
|          5|  HMate|
|          6|  HMate|
|          7|  HMate|
|         12|  HMate|
|         16|  HMate|
|         18|HVerbal|
|         19|HVerbal|
|         21|HVerbal|
|         22|HVerbal|
|         23|HVerbal|
|         24|HVerbal|
|         25|HVerbal|
|         28|HVerbal|
|         30|HVerbal|
|         32|HVerbal|
|         38|    Bio|
|         40|    Bio|
|         44|    Bio|
|         47|    Civ|
|         49|    Civ|
+-----------+-------+
only showing top 20 rows

In [39]:
df_pyspark.filter((df_pyspark['dificultad']<=3) & (df_pyspark["materia"]=="HVerbal")).show()

+-----------+-----------+-------+----------+
|numPregunta|estadistica|materia|dificultad|
+-----------+-----------+-------+----------+
|         18|0.797619048|HVerbal|         2|
|         19|0.535714286|HVerbal|         3|
|         21|0.857142857|HVerbal|         2|
|         22|0.761904762|HVerbal|         2|
|         23| 0.69047619|HVerbal|         3|
|         24|0.607142857|HVerbal|         3|
|         25|0.761904762|HVerbal|         2|
|         28|0.797619048|HVerbal|         2|
|         30|0.547619048|HVerbal|         3|
|         32|0.619047619|HVerbal|         3|
+-----------+-----------+-------+----------+

In [40]:
df_pyspark.filter((df_pyspark['dificultad']<=3) | (df_pyspark["materia"]=="HVerbal")).show(df_pyspark.count())

+-----------+-----------+-------+----------+
|numPregunta|estadistica|materia|dificultad|
+-----------+-----------+-------+----------+
|          5|0.678571429|  HMate|         3|
|          6| 0.69047619|  HMate|         3|
|          7|0.607142857|  HMate|         3|
|         12|0.785714286|  HMate|         2|
|         16|0.666666667|  HMate|         3|
|         17|0.380952381|HVerbal|         4|
|         18|0.797619048|HVerbal|         2|
|         19|0.535714286|HVerbal|         3|
|         20|0.416666667|HVerbal|         4|
|         21|0.857142857|HVerbal|         2|
|         22|0.761904762|HVerbal|         2|
|         23| 0.69047619|HVerbal|         3|
|         24|0.607142857|HVerbal|         3|
|         25|0.761904762|HVerbal|         2|
|         26|0.047619048|HVerbal|         5|
|         27|0.392857143|HVerbal|         4|
|         28|0.797619048|HVerbal|         2|
|         29| 0.19047619|HVerbal|         5|
|         30|0.547619048|HVerbal|         3|
|         31|0.333333333|HVerbal|         5|
|         32|0.619047619|HVerbal|         3|
|         38|0.619047619|    Bio|         3|
|         40|0.714285714|    Bio|         3|
|         44|0.761904762|    Bio|         2|
|         47|0.916666667|    Civ|         1|
|         49|0.595238095|    Civ|         3|
|         50| 0.94047619|    Civ|         1|
|         52|0.904761905|    Civ|         1|
|         58|0.821428571|    Esp|         2|
|         59|0.619047619|    Esp|         3|
|         62|0.607142857|    Esp|         3|
|         67|0.892857143|    Esp|         1|
|         68|0.678571429|    Esp|         3|
|         69|0.773809524|    Fis|         2|
|         70|0.821428571|    Fis|         2|
|         74|0.714285714|    Fis|         3|
|         79|0.666666667|    Fis|         3|
|         81|0.833333333|    Geo|         2|
|         94|0.547619048| HisMex|         3|
|         96|0.630952381| HisMex|         3|
|        100|0.547619048| HisUni|         3|
|        103|0.773809524| HisUni|         2|
|        105|0.535714286|   Mate|         3|
|        106|0.654761905|   Mate|         3|
|        111| 0.69047619|   Mate|         3|
|        116|0.726190476|   Mate|         2|
|        120|0.630952381|    Qui|         3|
+-----------+-----------+-------+----------+

In [41]:
df_pyspark.filter(df_pyspark['dificultad']<=3).show()

+-----------+-----------+-------+----------+
|numPregunta|estadistica|materia|dificultad|
+-----------+-----------+-------+----------+
|          5|0.678571429|  HMate|         3|
|          6| 0.69047619|  HMate|         3|
|          7|0.607142857|  HMate|         3|
|         12|0.785714286|  HMate|         2|
|         16|0.666666667|  HMate|         3|
|         18|0.797619048|HVerbal|         2|
|         19|0.535714286|HVerbal|         3|
|         21|0.857142857|HVerbal|         2|
|         22|0.761904762|HVerbal|         2|
|         23| 0.69047619|HVerbal|         3|
|         24|0.607142857|HVerbal|         3|
|         25|0.761904762|HVerbal|         2|
|         28|0.797619048|HVerbal|         2|
|         30|0.547619048|HVerbal|         3|
|         32|0.619047619|HVerbal|         3|
|         38|0.619047619|    Bio|         3|
|         40|0.714285714|    Bio|         3|
|         44|0.761904762|    Bio|         2|
|         47|0.916666667|    Civ|         1|
|         49|0.595238095|    Civ|         3|
+-----------+-----------+-------+----------+
only showing top 20 rows

In [42]:
df_pyspark.filter(~(df_pyspark['dificultad']<=3)).show()

+-----------+-----------+-------+----------+
|numPregunta|estadistica|materia|dificultad|
+-----------+-----------+-------+----------+
|          1|        0.5|  HMate|         4|
|          2|0.226190476|  HMate|         5|
|          3|0.273809524|  HMate|         5|
|          4|0.297619048|  HMate|         5|
|          8|0.285714286|  HMate|         5|
|          9| 0.44047619|  HMate|         4|
|         10|0.345238095|  HMate|         4|
|         11|0.178571429|  HMate|         5|
|         13|0.404761905|  HMate|         4|
|         14|0.476190476|  HMate|         4|
|         15|0.333333333|  HMate|         5|
|         17|0.380952381|HVerbal|         4|
|         20|0.416666667|HVerbal|         4|
|         26|0.047619048|HVerbal|         5|
|         27|0.392857143|HVerbal|         4|
|         29| 0.19047619|HVerbal|         5|
|         31|0.333333333|HVerbal|         5|
|         33|0.380952381|    Bio|         4|
|         34|0.357142857|    Bio|         4|
|         35|0.297619048|    Bio|         5|
+-----------+-----------+-------+----------+
only showing top 20 rows

## Group by y agregar funciones

In [43]:
df_pyspark.printSchema()

root
 |-- numPregunta: integer (nullable = true)
 |-- estadistica: double (nullable = true)
 |-- materia: string (nullable = true)
 |-- dificultad: integer (nullable = true)

In [44]:
## Group by
df_pyspark.groupBy('materia').avg().show()

+-------+----------------+-------------------+------------------+
|materia|avg(numPregunta)|   avg(estadistica)|   avg(dificultad)|
+-------+----------------+-------------------+------------------+
|    Fis|            74.5| 0.5089285714166667|              3.75|
|   Mate|           110.5|0.45833333341666677|              3.75|
|    Bio|            38.5|0.46527777775000007|              3.75|
|    Qui|           122.5|0.29662698416666666| 4.666666666666667|
|    Geo|            86.5| 0.4097222223333333|              4.25|
|    Esp|            62.5| 0.4950396824999999|3.5833333333333335|
|    Civ|            50.5|      0.52083333325|               3.5|
| HisUni|           101.5| 0.4246031748333334|               4.0|
| HisMex|            95.5|0.42857142866666664|               4.0|
|HVerbal|            24.5|    0.5461309524375|              3.25|
|  HMate|             8.5|    0.4494047619375|               4.0|
+-------+----------------+-------------------+------------------+

In [45]:
df_pyspark.groupBy('materia').mean().show()

+-------+----------------+-------------------+------------------+
|materia|avg(numPregunta)|   avg(estadistica)|   avg(dificultad)|
+-------+----------------+-------------------+------------------+
|    Fis|            74.5| 0.5089285714166667|              3.75|
|   Mate|           110.5|0.45833333341666677|              3.75|
|    Bio|            38.5|0.46527777775000007|              3.75|
|    Qui|           122.5|0.29662698416666666| 4.666666666666667|
|    Geo|            86.5| 0.4097222223333333|              4.25|
|    Esp|            62.5| 0.4950396824999999|3.5833333333333335|
|    Civ|            50.5|      0.52083333325|               3.5|
| HisUni|           101.5| 0.4246031748333334|               4.0|
| HisMex|            95.5|0.42857142866666664|               4.0|
|HVerbal|            24.5|    0.5461309524375|              3.25|
|  HMate|             8.5|    0.4494047619375|               4.0|
+-------+----------------+-------------------+------------------+

In [46]:
df_pyspark.groupBy('dificultad').count().show()

+----------+-----+
|dificultad|count|
+----------+-----+
|         1|    4|
|         3|   24|
|         5|   41|
|         4|   46|
|         2|   13|
+----------+-----+

In [47]:
df_pyspark.agg({'estadistica':'mean'}).show()

+-------------------+
|   avg(estadistica)|
+-------------------+
|0.46019345241406256|
+-------------------+

In [48]:
df_pyspark.groupBy('materia').max().show()

+-------+----------------+----------------+---------------+
|materia|max(numPregunta)|max(estadistica)|max(dificultad)|
+-------+----------------+----------------+---------------+
|    Fis|              80|     0.821428571|              5|
|   Mate|             116|     0.726190476|              5|
|    Bio|              44|     0.761904762|              5|
|    Qui|             128|     0.630952381|              5|
|    Geo|              92|     0.833333333|              5|
|    Esp|              68|     0.892857143|              5|
|    Civ|              56|      0.94047619|              5|
| HisUni|             104|     0.773809524|              5|
| HisMex|              98|     0.630952381|              5|
|HVerbal|              32|     0.857142857|              5|
|  HMate|              16|     0.785714286|              5|
+-------+----------------+----------------+---------------+

## Ejemplos ML

In [88]:
training = spark.read.csv("pds3.csv", header = True, inferSchema = True)

In [89]:
training.show()

+-----+----------+--------------------+------------+------------+--------+---------+---------+--------+----------+---------+--------+-----------+-----------+
|Grupo|N DE LISTA|              NOMBRE|H. VBAL (16)|H. MATE (16)|ESP (12)|MATE (12)|HIST (12)|GEO (12)|CÍVICA(12)|QUÍM (12)|BIO (12)|FÍSICA (12)|TOTAL (128)|
+-----+----------+--------------------+------------+------------+--------+---------+---------+--------+----------+---------+--------+-----------+-----------+
|IBA-0|         0|                CED |          16|          16|      12|       12|       12|      12|        12|       12|      12|         12|        128|
|IBA-1|         1|Diaz Becerril Fer...|           9|           3|       8|        2|        5|       1|         5|        8|       8|          6|         55|
|IBA-1|         2|Rodrigo Esquivel ...|           9|          11|       7|        4|        2|       7|         4|        5|       6|          6|         61|
|IBA-1|         3|flores mendoza arely|          10|           9|       6|        5|        3|       7|         4|        7|       8|          4|         63|
|IBA-1|         4|Garcia Gonzalez P...|          13|          11|      10|        8|        7|       9|         7|        9|       8|         11|         93|
|IBA-1|         5|García Salazar Ab...|          11|          10|      11|        8|        6|       7|         8|        5|       9|          5|         80|
|IBA-1|         6|Jesús González Ca...|           6|          15|       7|        5|        8|      11|         6|       10|       7|         10|         85|
|IBA-1|         7|Hernández Ramos B...|          10|          11|       7|        7|        4|       9|         7|        9|       8|          9|         81|
|IBA-1|         8|Jiménez Zaragoza ...|          11|          12|       8|        7|        8|       9|         5|        4|      11|          9|         84|
|IBA-1|         9|Andrea Naomi Lira...|          11|          10|       8|        5|        5|       6|         7|        5|       8|          8|         73|
|IBA-1|        10|López Pérez Megha...|          11|           9|       7|        7|        7|       7|         8|        6|       7|          4|         73|
|IBA-1|        11|MARÍA FERNANDA MÉ...|           9|          12|       8|        6|        7|      10|         5|        7|       8|          7|         79|
|IBA-1|        12|Patiño Briseño Ce...|           3|           8|       6|       10|        5|       1|         6|        5|       8|          8|         60|
|IBA-1|        13|Peña Anaya Azul V...|          12|          12|       8|        7|       10|       9|         7|        6|       9|         10|         90|
|IBA-1|        14|Sánchez Álvarez M...|          10|           9|       7|        3|        3|       6|         6|        7|       6|          6|         63|
|IBA-1|        15|Santaella Sandova...|          11|           8|       7|        9|       10|       7|         3|       11|      10|          8|         84|
|IBA-3|         2|Beltran Avalos Ju...|          13|           9|       9|        7|       10|       8|         4|        7|       9|          9|         85|
|IBA-3|         3|Castañeda Torres ...|          12|           8|       6|        4|        8|       9|         6|        5|       6|          6|         70|
|IBA-3|         4|Castillo Santos P...|          12|          12|       9|        8|        8|       6|         3|        8|      10|          9|         85|
|IBA-3|         5|angel eduardo cha...|           6|          12|       7|        5|        4|       8|         4|        6|       2|          6|         60|
+-----+----------+--------------------+------------+------------+--------+---------+---------+--------+----------+---------+--------+-----------+-----------+
only showing top 20 rows

In [90]:
training.printSchema()

root
 |-- Grupo: string (nullable = true)
 |-- N DE LISTA: integer (nullable = true)
 |-- NOMBRE: string (nullable = true)
 |-- H. VBAL (16): integer (nullable = true)
 |-- H. MATE (16): integer (nullable = true)
 |-- ESP (12): integer (nullable = true)
 |-- MATE (12): integer (nullable = true)
 |-- HIST (12): integer (nullable = true)
 |-- GEO (12): integer (nullable = true)
 |-- CÍVICA(12): integer (nullable = true)
 |-- QUÍM (12): integer (nullable = true)
 |-- BIO (12): integer (nullable = true)
 |-- FÍSICA (12): integer (nullable = true)
 |-- TOTAL (128): integer (nullable = true)

In [91]:
training.columns

['Grupo',
 'N DE LISTA',
 'NOMBRE',
 'H. VBAL (16)',
 'H. MATE (16)',
 'ESP (12)',
 'MATE (12)',
 'HIST (12)',
 'GEO (12)',
 'CÍVICA(12)',
 'QUÍM (12)',
 'BIO (12)',
 'FÍSICA (12)',
 'TOTAL (128)']

In [92]:
#[Hverbal, Hmate, Esp, Mate, Hist, Geo, Civ, Qui, Bio, Fis] ----> new feature ---> independent feature
from pyspark.sql.functions import col
import os
training=training.withColumnRenamed('H. VBAL (16)', 'Hverbal')
training=training.withColumnRenamed('H. MATE (16)', 'Hmate')
nuevosNombres= [("Grupo","grupo"),
                ("N DE LISTA","lista"),
                ("NOMBRE","nombre"),
                ('Hverbal', "hverbal"),
                ("Hmate","hmate"),
                ("ESP (12)","esp"),
                ("MATE (12)","mate"),
                ("HIST (12)","hist"),
                ("GEO (12)","geo"),
                ("CÍVICA(12)","civ"),
                ("QUÍM (12)","qui"),
                ("BIO (12)","bio"),
                ("FÍSICA (12)","fis"),
                ("TOTAL (128)","total")]
type(nuevosNombres)

columnExprs = [col(elem[0]).alias(elem[1]) for elem in nuevosNombres]
type(columnExprs)
columnExprs

transformed_training=training.select(*columnExprs)
type(transformed_training)
transformed_training.show()

+-----+-----+--------------------+-------+-----+---+----+----+---+---+---+---+---+-----+
|grupo|lista|              nombre|hverbal|hmate|esp|mate|hist|geo|civ|qui|bio|fis|total|
+-----+-----+--------------------+-------+-----+---+----+----+---+---+---+---+---+-----+
|IBA-0|    0|                CED |     16|   16| 12|  12|  12| 12| 12| 12| 12| 12|  128|
|IBA-1|    1|Diaz Becerril Fer...|      9|    3|  8|   2|   5|  1|  5|  8|  8|  6|   55|
|IBA-1|    2|Rodrigo Esquivel ...|      9|   11|  7|   4|   2|  7|  4|  5|  6|  6|   61|
|IBA-1|    3|flores mendoza arely|     10|    9|  6|   5|   3|  7|  4|  7|  8|  4|   63|
|IBA-1|    4|Garcia Gonzalez P...|     13|   11| 10|   8|   7|  9|  7|  9|  8| 11|   93|
|IBA-1|    5|García Salazar Ab...|     11|   10| 11|   8|   6|  7|  8|  5|  9|  5|   80|
|IBA-1|    6|Jesús González Ca...|      6|   15|  7|   5|   8| 11|  6| 10|  7| 10|   85|
|IBA-1|    7|Hernández Ramos B...|     10|   11|  7|   7|   4|  9|  7|  9|  8|  9|   81|
|IBA-1|    8|Jiménez Zaragoza ...|     11|   12|  8|   7|   8|  9|  5|  4| 11|  9|   84|
|IBA-1|    9|Andrea Naomi Lira...|     11|   10|  8|   5|   5|  6|  7|  5|  8|  8|   73|
|IBA-1|   10|López Pérez Megha...|     11|    9|  7|   7|   7|  7|  8|  6|  7|  4|   73|
|IBA-1|   11|MARÍA FERNANDA MÉ...|      9|   12|  8|   6|   7| 10|  5|  7|  8|  7|   79|
|IBA-1|   12|Patiño Briseño Ce...|      3|    8|  6|  10|   5|  1|  6|  5|  8|  8|   60|
|IBA-1|   13|Peña Anaya Azul V...|     12|   12|  8|   7|  10|  9|  7|  6|  9| 10|   90|
|IBA-1|   14|Sánchez Álvarez M...|     10|    9|  7|   3|   3|  6|  6|  7|  6|  6|   63|
|IBA-1|   15|Santaella Sandova...|     11|    8|  7|   9|  10|  7|  3| 11| 10|  8|   84|
|IBA-3|    2|Beltran Avalos Ju...|     13|    9|  9|   7|  10|  8|  4|  7|  9|  9|   85|
|IBA-3|    3|Castañeda Torres ...|     12|    8|  6|   4|   8|  9|  6|  5|  6|  6|   70|
|IBA-3|    4|Castillo Santos P...|     12|   12|  9|   8|   8|  6|  3|  8| 10|  9|   85|
|IBA-3|    5|angel eduardo cha...|      6|   12|  7|   5|   4|  8|  4|  6|  2|  6|   60|
+-----+-----+--------------------+-------+-----+---+----+----+---+---+---+---+---+-----+
only showing top 20 rows

In [93]:
training=transformed_training
training.show()

+-----+-----+--------------------+-------+-----+---+----+----+---+---+---+---+---+-----+
|grupo|lista|              nombre|hverbal|hmate|esp|mate|hist|geo|civ|qui|bio|fis|total|
+-----+-----+--------------------+-------+-----+---+----+----+---+---+---+---+---+-----+
|IBA-0|    0|                CED |     16|   16| 12|  12|  12| 12| 12| 12| 12| 12|  128|
|IBA-1|    1|Diaz Becerril Fer...|      9|    3|  8|   2|   5|  1|  5|  8|  8|  6|   55|
|IBA-1|    2|Rodrigo Esquivel ...|      9|   11|  7|   4|   2|  7|  4|  5|  6|  6|   61|
|IBA-1|    3|flores mendoza arely|     10|    9|  6|   5|   3|  7|  4|  7|  8|  4|   63|
|IBA-1|    4|Garcia Gonzalez P...|     13|   11| 10|   8|   7|  9|  7|  9|  8| 11|   93|
|IBA-1|    5|García Salazar Ab...|     11|   10| 11|   8|   6|  7|  8|  5|  9|  5|   80|
|IBA-1|    6|Jesús González Ca...|      6|   15|  7|   5|   8| 11|  6| 10|  7| 10|   85|
|IBA-1|    7|Hernández Ramos B...|     10|   11|  7|   7|   4|  9|  7|  9|  8|  9|   81|
|IBA-1|    8|Jiménez Zaragoza ...|     11|   12|  8|   7|   8|  9|  5|  4| 11|  9|   84|
|IBA-1|    9|Andrea Naomi Lira...|     11|   10|  8|   5|   5|  6|  7|  5|  8|  8|   73|
|IBA-1|   10|López Pérez Megha...|     11|    9|  7|   7|   7|  7|  8|  6|  7|  4|   73|
|IBA-1|   11|MARÍA FERNANDA MÉ...|      9|   12|  8|   6|   7| 10|  5|  7|  8|  7|   79|
|IBA-1|   12|Patiño Briseño Ce...|      3|    8|  6|  10|   5|  1|  6|  5|  8|  8|   60|
|IBA-1|   13|Peña Anaya Azul V...|     12|   12|  8|   7|  10|  9|  7|  6|  9| 10|   90|
|IBA-1|   14|Sánchez Álvarez M...|     10|    9|  7|   3|   3|  6|  6|  7|  6|  6|   63|
|IBA-1|   15|Santaella Sandova...|     11|    8|  7|   9|  10|  7|  3| 11| 10|  8|   84|
|IBA-3|    2|Beltran Avalos Ju...|     13|    9|  9|   7|  10|  8|  4|  7|  9|  9|   85|
|IBA-3|    3|Castañeda Torres ...|     12|    8|  6|   4|   8|  9|  6|  5|  6|  6|   70|
|IBA-3|    4|Castillo Santos P...|     12|   12|  9|   8|   8|  6|  3|  8| 10|  9|   85|
|IBA-3|    5|angel eduardo cha...|      6|   12|  7|   5|   4|  8|  4|  6|  2|  6|   60|
+-----+-----+--------------------+-------+-----+---+----+----+---+---+---+---+---+-----+
only showing top 20 rows

In [94]:
from pyspark.ml.feature import VectorAssembler

featureAssembler = VectorAssembler(inputCols = ['hverbal', 'hmate', 'esp', 'mate', 'hist', 'geo', 'civ', 'qui', 'bio', 'fis'], outputCol = "Independent Features")

In [95]:
output = featureAssembler.transform(training)

In [96]:
output.show()

+-----+-----+--------------------+-------+-----+---+----+----+---+---+---+---+---+-----+--------------------+
|grupo|lista|              nombre|hverbal|hmate|esp|mate|hist|geo|civ|qui|bio|fis|total|Independent Features|
+-----+-----+--------------------+-------+-----+---+----+----+---+---+---+---+---+-----+--------------------+
|IBA-0|    0|                CED |     16|   16| 12|  12|  12| 12| 12| 12| 12| 12|  128|[16.0,16.0,12.0,1...|
|IBA-1|    1|Diaz Becerril Fer...|      9|    3|  8|   2|   5|  1|  5|  8|  8|  6|   55|[9.0,3.0,8.0,2.0,...|
|IBA-1|    2|Rodrigo Esquivel ...|      9|   11|  7|   4|   2|  7|  4|  5|  6|  6|   61|[9.0,11.0,7.0,4.0...|
|IBA-1|    3|flores mendoza arely|     10|    9|  6|   5|   3|  7|  4|  7|  8|  4|   63|[10.0,9.0,6.0,5.0...|
|IBA-1|    4|Garcia Gonzalez P...|     13|   11| 10|   8|   7|  9|  7|  9|  8| 11|   93|[13.0,11.0,10.0,8...|
|IBA-1|    5|García Salazar Ab...|     11|   10| 11|   8|   6|  7|  8|  5|  9|  5|   80|[11.0,10.0,11.0,8...|
|IBA-1|    6|Jesús González Ca...|      6|   15|  7|   5|   8| 11|  6| 10|  7| 10|   85|[6.0,15.0,7.0,5.0...|
|IBA-1|    7|Hernández Ramos B...|     10|   11|  7|   7|   4|  9|  7|  9|  8|  9|   81|[10.0,11.0,7.0,7....|
|IBA-1|    8|Jiménez Zaragoza ...|     11|   12|  8|   7|   8|  9|  5|  4| 11|  9|   84|[11.0,12.0,8.0,7....|
|IBA-1|    9|Andrea Naomi Lira...|     11|   10|  8|   5|   5|  6|  7|  5|  8|  8|   73|[11.0,10.0,8.0,5....|
|IBA-1|   10|López Pérez Megha...|     11|    9|  7|   7|   7|  7|  8|  6|  7|  4|   73|[11.0,9.0,7.0,7.0...|
|IBA-1|   11|MARÍA FERNANDA MÉ...|      9|   12|  8|   6|   7| 10|  5|  7|  8|  7|   79|[9.0,12.0,8.0,6.0...|
|IBA-1|   12|Patiño Briseño Ce...|      3|    8|  6|  10|   5|  1|  6|  5|  8|  8|   60|[3.0,8.0,6.0,10.0...|
|IBA-1|   13|Peña Anaya Azul V...|     12|   12|  8|   7|  10|  9|  7|  6|  9| 10|   90|[12.0,12.0,8.0,7....|
|IBA-1|   14|Sánchez Álvarez M...|     10|    9|  7|   3|   3|  6|  6|  7|  6|  6|   63|[10.0,9.0,7.0,3.0...|
|IBA-1|   15|Santaella Sandova...|     11|    8|  7|   9|  10|  7|  3| 11| 10|  8|   84|[11.0,8.0,7.0,9.0...|
|IBA-3|    2|Beltran Avalos Ju...|     13|    9|  9|   7|  10|  8|  4|  7|  9|  9|   85|[13.0,9.0,9.0,7.0...|
|IBA-3|    3|Castañeda Torres ...|     12|    8|  6|   4|   8|  9|  6|  5|  6|  6|   70|[12.0,8.0,6.0,4.0...|
|IBA-3|    4|Castillo Santos P...|     12|   12|  9|   8|   8|  6|  3|  8| 10|  9|   85|[12.0,12.0,9.0,8....|
|IBA-3|    5|angel eduardo cha...|      6|   12|  7|   5|   4|  8|  4|  6|  2|  6|   60|[6.0,12.0,7.0,5.0...|
+-----+-----+--------------------+-------+-----+---+----+----+---+---+---+---+---+-----+--------------------+
only showing top 20 rows

In [97]:
output.columns

['grupo',
 'lista',
 'nombre',
 'hverbal',
 'hmate',
 'esp',
 'mate',
 'hist',
 'geo',
 'civ',
 'qui',
 'bio',
 'fis',
 'total',
 'Independent Features']

In [98]:
finalized_data= output.select("Independent Features", "total")
finalized_data.show()

+--------------------+-----+
|Independent Features|total|
+--------------------+-----+
|[16.0,16.0,12.0,1...|  128|
|[9.0,3.0,8.0,2.0,...|   55|
|[9.0,11.0,7.0,4.0...|   61|
|[10.0,9.0,6.0,5.0...|   63|
|[13.0,11.0,10.0,8...|   93|
|[11.0,10.0,11.0,8...|   80|
|[6.0,15.0,7.0,5.0...|   85|
|[10.0,11.0,7.0,7....|   81|
|[11.0,12.0,8.0,7....|   84|
|[11.0,10.0,8.0,5....|   73|
|[11.0,9.0,7.0,7.0...|   73|
|[9.0,12.0,8.0,6.0...|   79|
|[3.0,8.0,6.0,10.0...|   60|
|[12.0,12.0,8.0,7....|   90|
|[10.0,9.0,7.0,3.0...|   63|
|[11.0,8.0,7.0,9.0...|   84|
|[13.0,9.0,9.0,7.0...|   85|
|[12.0,8.0,6.0,4.0...|   70|
|[12.0,12.0,9.0,8....|   85|
|[6.0,12.0,7.0,5.0...|   60|
+--------------------+-----+
only showing top 20 rows

In [100]:
from pyspark.ml.regression import LinearRegression
train_data, test_data = finalized_data.randomSplit([0.75,0.25])
regressor = LinearRegression(featuresCol='Independent Features', labelCol='total')
regressor = regressor.fit(train_data)

In [102]:
regressor.coefficients

DenseVector([1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0])

In [103]:
regressor.intercept

4.3514200651397396e-13

In [104]:
# prediccion
pred_results = regressor.evaluate(test_data)

In [105]:
pred_results.predictions.show()

+--------------------+-----+-----------------+
|Independent Features|total|       prediction|
+--------------------+-----+-----------------+
|[7.0,8.0,8.0,6.0,...|   79|78.99999999999997|
|[9.0,11.0,4.0,8.0...|   77|76.99999999999993|
|[9.0,11.0,7.0,4.0...|   61|61.00000000000033|
|[10.0,7.0,6.0,4.0...|   66|66.00000000000016|
|[10.0,9.0,6.0,5.0...|   63|63.00000000000013|
|[10.0,9.0,7.0,3.0...|   63|63.00000000000034|
|[10.0,11.0,7.0,7....|   81|81.00000000000021|
|[10.0,12.0,7.0,6....|   83|83.00000000000009|
|[10.0,13.0,8.0,5....|   78| 77.9999999999999|
|[11.0,7.0,8.0,9.0...|   69|69.00000000000004|
|[11.0,8.0,7.0,9.0...|   84|83.99999999999976|
|[11.0,10.0,8.0,8....|   91|90.99999999999997|
|[11.0,15.0,10.0,8...|  102|101.9999999999999|
|[12.0,13.0,8.0,9....|   97|97.00000000000011|
+--------------------+-----+-----------------+

C:\ProgramData\Anaconda3\lib\site-packages\pyspark\sql\context.py:125: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [106]:
pred_results.meanAbsoluteError, pred_results.meanSquaredError

(1.4109348610093418e-13, 2.972968824064924e-26)