In [2]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\programdata\anaconda3\lib\site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in c:\programdata\anaconda3\lib\site-packages (from pyspark) (0.10.9.3)

In [3]:
import pyspark

In [4]:
import pandas as pd
pd.read_csv('pruebaDs.csv')

     21A_Pr    21A_Es 21A_Ma  21A_Es_Di
0       1.0  0.500000  HMate          4
1       2.0  0.226190  HMate          5
2       3.0  0.273810  HMate          5
3       4.0  0.297619  HMate          5
4       5.0  0.678571  HMate          3
..      ...       ...    ...        ...
126   127.0  0.238095    Qui          5
127   128.0  0.309524    Qui          5
128   129.0       NaN  Light          4
129     NaN  0.345320  Light          5
130   131.0  0.999990    NaN          1

[131 rows x 4 columns]

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('pruebaPyspark').getOrCreate()

In [7]:
spark

In [8]:
df_pyspark=spark.read.csv('pruebaDs.csv')

In [9]:
df_pyspark.show()

+------+-----------+-------+---------+
|   _c0|        _c1|    _c2|      _c3|
+------+-----------+-------+---------+
|21A_Pr|     21A_Es| 21A_Ma|21A_Es_Di|
|     1|        0.5|  HMate|        4|
|     2|0.226190476|  HMate|        5|
|     3|0.273809524|  HMate|        5|
|     4|0.297619048|  HMate|        5|
|     5|0.678571429|  HMate|        3|
|     6| 0.69047619|  HMate|        3|
|     7|0.607142857|  HMate|        3|
|     8|0.285714286|  HMate|        5|
|     9| 0.44047619|  HMate|        4|
|    10|0.345238095|  HMate|        4|
|    11|0.178571429|  HMate|        5|
|    12|0.785714286|  HMate|        2|
|    13|0.404761905|  HMate|        4|
|    14|0.476190476|  HMate|        4|
|    15|0.333333333|  HMate|        5|
|    16|0.666666667|  HMate|        3|
|    17|0.380952381|HVerbal|        4|
|    18|0.797619048|HVerbal|        2|
|    19|0.535714286|HVerbal|        3|
+------+-----------+-------+---------+
only showing top 20 rows

In [10]:
df_pyspark=spark.read.option('header','true').csv('pruebaDs.csv')

In [11]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [12]:
df_pyspark.head(3)

[Row(21A_Pr='1', 21A_Es='0.5', 21A_Ma='HMate', 21A_Es_Di='4'),
 Row(21A_Pr='2', 21A_Es='0.226190476', 21A_Ma='HMate', 21A_Es_Di='5'),
 Row(21A_Pr='3', 21A_Es='0.273809524', 21A_Ma='HMate', 21A_Es_Di='5')]

In [13]:
df_pyspark.printSchema()

root
 |-- 21A_Pr: string (nullable = true)
 |-- 21A_Es: string (nullable = true)
 |-- 21A_Ma: string (nullable = true)
 |-- 21A_Es_Di: string (nullable = true)

## Parte 2

In [14]:
## leyendo el archivo
##spark.read.option('header','true').csv('pruebaDs.csv')

## inferir el tipo de dato
df_pyspark=spark.read.option('header','true').csv('pruebaDs.csv', inferSchema=True)
df_pyspark.show()

+------+-----------+-------+---------+
|21A_Pr|     21A_Es| 21A_Ma|21A_Es_Di|
+------+-----------+-------+---------+
|     1|        0.5|  HMate|        4|
|     2|0.226190476|  HMate|        5|
|     3|0.273809524|  HMate|        5|
|     4|0.297619048|  HMate|        5|
|     5|0.678571429|  HMate|        3|
|     6| 0.69047619|  HMate|        3|
|     7|0.607142857|  HMate|        3|
|     8|0.285714286|  HMate|        5|
|     9| 0.44047619|  HMate|        4|
|    10|0.345238095|  HMate|        4|
|    11|0.178571429|  HMate|        5|
|    12|0.785714286|  HMate|        2|
|    13|0.404761905|  HMate|        4|
|    14|0.476190476|  HMate|        4|
|    15|0.333333333|  HMate|        5|
|    16|0.666666667|  HMate|        3|
|    17|0.380952381|HVerbal|        4|
|    18|0.797619048|HVerbal|        2|
|    19|0.535714286|HVerbal|        3|
|    20|0.416666667|HVerbal|        4|
+------+-----------+-------+---------+
only showing top 20 rows

In [15]:
#### check the schema, o sea los tipos
df_pyspark.printSchema()

root
 |-- 21A_Pr: integer (nullable = true)
 |-- 21A_Es: double (nullable = true)
 |-- 21A_Ma: string (nullable = true)
 |-- 21A_Es_Di: integer (nullable = true)

In [16]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [17]:
df_pyspark.head(3)

[Row(21A_Pr=1, 21A_Es=0.5, 21A_Ma='HMate', 21A_Es_Di=4),
 Row(21A_Pr=2, 21A_Es=0.226190476, 21A_Ma='HMate', 21A_Es_Di=5),
 Row(21A_Pr=3, 21A_Es=0.273809524, 21A_Ma='HMate', 21A_Es_Di=5)]

In [18]:
#selecionando solo la columna
df_pyspark.select(['21a_Es','21A_Ma']).show()

+-----------+-------+
|     21a_Es| 21A_Ma|
+-----------+-------+
|        0.5|  HMate|
|0.226190476|  HMate|
|0.273809524|  HMate|
|0.297619048|  HMate|
|0.678571429|  HMate|
| 0.69047619|  HMate|
|0.607142857|  HMate|
|0.285714286|  HMate|
| 0.44047619|  HMate|
|0.345238095|  HMate|
|0.178571429|  HMate|
|0.785714286|  HMate|
|0.404761905|  HMate|
|0.476190476|  HMate|
|0.333333333|  HMate|
|0.666666667|  HMate|
|0.380952381|HVerbal|
|0.797619048|HVerbal|
|0.535714286|HVerbal|
|0.416666667|HVerbal|
+-----------+-------+
only showing top 20 rows

In [19]:
#similar al schema
df_pyspark.dtypes

[('21A_Pr', 'int'),
 ('21A_Es', 'double'),
 ('21A_Ma', 'string'),
 ('21A_Es_Di', 'int')]

In [20]:
df_pyspark.describe().show()

+-------+-----------------+-------------------+------+------------------+
|summary|           21A_Pr|             21A_Es|21A_Ma|         21A_Es_Di|
+-------+-----------------+-------------------+------+------------------+
|  count|              130|                130|   130|               131|
|   mean|65.50769230769231|0.46346209160769236|  null|3.8244274809160306|
| stddev|37.68520079519756|0.20550314757279575|  null| 1.105795335288896|
|    min|                1|        0.047619048|   Bio|                 1|
|    max|              131|            0.99999|   Qui|                 5|
+-------+-----------------+-------------------+------+------------------+

In [21]:
#### Agreggar columnas
df_pyspark=df_pyspark.withColumn('Nueva',df_pyspark['21A_Pr']+1)

In [22]:
### Eliminar
df_pyspark=df_pyspark.drop('Nueva')

In [23]:
df_pyspark.show()

+------+-----------+-------+---------+
|21A_Pr|     21A_Es| 21A_Ma|21A_Es_Di|
+------+-----------+-------+---------+
|     1|        0.5|  HMate|        4|
|     2|0.226190476|  HMate|        5|
|     3|0.273809524|  HMate|        5|
|     4|0.297619048|  HMate|        5|
|     5|0.678571429|  HMate|        3|
|     6| 0.69047619|  HMate|        3|
|     7|0.607142857|  HMate|        3|
|     8|0.285714286|  HMate|        5|
|     9| 0.44047619|  HMate|        4|
|    10|0.345238095|  HMate|        4|
|    11|0.178571429|  HMate|        5|
|    12|0.785714286|  HMate|        2|
|    13|0.404761905|  HMate|        4|
|    14|0.476190476|  HMate|        4|
|    15|0.333333333|  HMate|        5|
|    16|0.666666667|  HMate|        3|
|    17|0.380952381|HVerbal|        4|
|    18|0.797619048|HVerbal|        2|
|    19|0.535714286|HVerbal|        3|
|    20|0.416666667|HVerbal|        4|
+------+-----------+-------+---------+
only showing top 20 rows

In [25]:
### Renombrar la columna
df_pyspark.withColumnRenamed('21A_Ma','Materia')

DataFrame[21A_Pr: int, 21A_Es: double, Materia: string, 21A_Es_Di: int]

## Parte 3
### Tratando con valores nulos

In [26]:
spark.read.csv('pds2.csv',header=True, inferSchema=True).show()
df_pyspark=spark.read.csv('pds2.csv',header=True, inferSchema=True)

+------+-----------+------+---------+
|21A_Pr|     21A_Es|21A_Ma|21A_Es_Di|
+------+-----------+------+---------+
|   129|       null| Light|        4|
|  null|    0.34532| Water|        5|
|   131|    0.99999|  null|        1|
|   132|      0.865|  Dark|     null|
|   133|       null|  Fire|     null|
|     1|        0.5| HMate|        4|
|     2|0.226190476| HMate|        5|
|     3|0.273809524| HMate|        5|
|     4|0.297619048| HMate|        5|
|     5|0.678571429| HMate|        3|
|     6| 0.69047619| HMate|        3|
|     7|0.607142857| HMate|        3|
|     8|0.285714286| HMate|        5|
|     9| 0.44047619| HMate|        4|
|    10|0.345238095| HMate|        4|
|    11|0.178571429| HMate|        5|
|    12|0.785714286| HMate|        2|
|    13|0.404761905| HMate|        4|
|    14|0.476190476| HMate|        4|
|    15|0.333333333| HMate|        5|
+------+-----------+------+---------+
only showing top 20 rows

In [27]:
df_pyspark.na.drop(how='any').show()

+------+-----------+-------+---------+
|21A_Pr|     21A_Es| 21A_Ma|21A_Es_Di|
+------+-----------+-------+---------+
|     1|        0.5|  HMate|        4|
|     2|0.226190476|  HMate|        5|
|     3|0.273809524|  HMate|        5|
|     4|0.297619048|  HMate|        5|
|     5|0.678571429|  HMate|        3|
|     6| 0.69047619|  HMate|        3|
|     7|0.607142857|  HMate|        3|
|     8|0.285714286|  HMate|        5|
|     9| 0.44047619|  HMate|        4|
|    10|0.345238095|  HMate|        4|
|    11|0.178571429|  HMate|        5|
|    12|0.785714286|  HMate|        2|
|    13|0.404761905|  HMate|        4|
|    14|0.476190476|  HMate|        4|
|    15|0.333333333|  HMate|        5|
|    16|0.666666667|  HMate|        3|
|    17|0.380952381|HVerbal|        4|
|    18|0.797619048|HVerbal|        2|
|    19|0.535714286|HVerbal|        3|
|    20|0.416666667|HVerbal|        4|
+------+-----------+-------+---------+
only showing top 20 rows

In [28]:
### thershold
df_pyspark.na.drop(how='any', thresh=1).show()

+------+-----------+------+---------+
|21A_Pr|     21A_Es|21A_Ma|21A_Es_Di|
+------+-----------+------+---------+
|   129|       null| Light|        4|
|  null|    0.34532| Water|        5|
|   131|    0.99999|  null|        1|
|   132|      0.865|  Dark|     null|
|   133|       null|  Fire|     null|
|     1|        0.5| HMate|        4|
|     2|0.226190476| HMate|        5|
|     3|0.273809524| HMate|        5|
|     4|0.297619048| HMate|        5|
|     5|0.678571429| HMate|        3|
|     6| 0.69047619| HMate|        3|
|     7|0.607142857| HMate|        3|
|     8|0.285714286| HMate|        5|
|     9| 0.44047619| HMate|        4|
|    10|0.345238095| HMate|        4|
|    11|0.178571429| HMate|        5|
|    12|0.785714286| HMate|        2|
|    13|0.404761905| HMate|        4|
|    14|0.476190476| HMate|        4|
|    15|0.333333333| HMate|        5|
+------+-----------+------+---------+
only showing top 20 rows

In [29]:
### thershold
df_pyspark.na.drop(how='any',subset='21A_Es_Di').show()

+------+-----------+-------+---------+
|21A_Pr|     21A_Es| 21A_Ma|21A_Es_Di|
+------+-----------+-------+---------+
|   129|       null|  Light|        4|
|  null|    0.34532|  Water|        5|
|   131|    0.99999|   null|        1|
|     1|        0.5|  HMate|        4|
|     2|0.226190476|  HMate|        5|
|     3|0.273809524|  HMate|        5|
|     4|0.297619048|  HMate|        5|
|     5|0.678571429|  HMate|        3|
|     6| 0.69047619|  HMate|        3|
|     7|0.607142857|  HMate|        3|
|     8|0.285714286|  HMate|        5|
|     9| 0.44047619|  HMate|        4|
|    10|0.345238095|  HMate|        4|
|    11|0.178571429|  HMate|        5|
|    12|0.785714286|  HMate|        2|
|    13|0.404761905|  HMate|        4|
|    14|0.476190476|  HMate|        4|
|    15|0.333333333|  HMate|        5|
|    16|0.666666667|  HMate|        3|
|    17|0.380952381|HVerbal|        4|
+------+-----------+-------+---------+
only showing top 20 rows

In [30]:
df_pyspark.na.fill(1000).show() ## Columnas con tipo de dato numerico (doble o enterlo)
df_pyspark.na.fill("N/A").show()  ## Coluimnas con tipo de dato string
df_pyspark.na.fill(999,subset="21A_Es_Di").show()  ## Columna especifica

+------+-----------+------+---------+
|21A_Pr|     21A_Es|21A_Ma|21A_Es_Di|
+------+-----------+------+---------+
|   129|     1000.0| Light|        4|
|  1000|    0.34532| Water|        5|
|   131|    0.99999|  null|        1|
|   132|      0.865|  Dark|     1000|
|   133|     1000.0|  Fire|     1000|
|     1|        0.5| HMate|        4|
|     2|0.226190476| HMate|        5|
|     3|0.273809524| HMate|        5|
|     4|0.297619048| HMate|        5|
|     5|0.678571429| HMate|        3|
|     6| 0.69047619| HMate|        3|
|     7|0.607142857| HMate|        3|
|     8|0.285714286| HMate|        5|
|     9| 0.44047619| HMate|        4|
|    10|0.345238095| HMate|        4|
|    11|0.178571429| HMate|        5|
|    12|0.785714286| HMate|        2|
|    13|0.404761905| HMate|        4|
|    14|0.476190476| HMate|        4|
|    15|0.333333333| HMate|        5|
+------+-----------+------+---------+
only showing top 20 rows

+------+-----------+------+---------+
|21A_Pr|     21A_Es|21A_Ma|21A_Es_Di|
+------+-----------+------+---------+
|   129|       null| Light|        4|
|  null|    0.34532| Water|        5|
|   131|    0.99999|   N/A|        1|
|   132|      0.865|  Dark|     null|
|   133|       null|  Fire|     null|
|     1|        0.5| HMate|        4|
|     2|0.226190476| HMate|        5|
|     3|0.273809524| HMate|        5|
|     4|0.297619048| HMate|        5|
|     5|0.678571429| HMate|        3|
|     6| 0.69047619| HMate|        3|
|     7|0.607142857| HMate|        3|
|     8|0.285714286| HMate|        5|
|     9| 0.44047619| HMate|        4|
|    10|0.345238095| HMate|        4|
|    11|0.178571429| HMate|        5|
|    12|0.785714286| HMate|        2|
|    13|0.404761905| HMate|        4|
|    14|0.476190476| HMate|        4|
|    15|0.333333333| HMate|        5|
+------+-----------+------+---------+
only showing top 20 rows

+------+-----------+------+---------+
|21A_Pr|     21A_Es|21A_Ma|21A_Es_Di|
+------+-----------+------+---------+
|   129|       null| Light|        4|
|  null|    0.34532| Water|        5|
|   131|    0.99999|  null|        1|
|   132|      0.865|  Dark|      999|
|   133|       null|  Fire|      999|
|     1|        0.5| HMate|        4|
|     2|0.226190476| HMate|        5|
|     3|0.273809524| HMate|        5|
|     4|0.297619048| HMate|        5|
|     5|0.678571429| HMate|        3|
|     6| 0.69047619| HMate|        3|
|     7|0.607142857| HMate|        3|
|     8|0.285714286| HMate|        5|
|     9| 0.44047619| HMate|        4|
|    10|0.345238095| HMate|        4|
|    11|0.178571429| HMate|        5|
|    12|0.785714286| HMate|        2|
|    13|0.404761905| HMate|        4|
|    14|0.476190476| HMate|        4|
|    15|0.333333333| HMate|        5|
+------+-----------+------+---------+
only showing top 20 rows

In [31]:
from pyspark.ml.feature import Imputer

imputer = Imputer( 
    inputCols=['21A_Pr','21A_Es_Di'],
    outputCols=["{}_imputed".format(c) for c in ['21A_Pr','21A_Es_Di'] ]
).setStrategy("mean")

## Inversigar Imputer

In [32]:
## Se añaden las columnas imputadas al dataFrame
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+-----------+------+---------+--------------+-----------------+
|21A_Pr|     21A_Es|21A_Ma|21A_Es_Di|21A_Pr_imputed|21A_Es_Di_imputed|
+------+-----------+------+---------+--------------+-----------------+
|   129|       null| Light|        4|           129|                4|
|  null|    0.34532| Water|        5|            66|                5|
|   131|    0.99999|  null|        1|           131|                1|
|   132|      0.865|  Dark|     null|           132|                3|
|   133|       null|  Fire|     null|           133|                3|
|     1|        0.5| HMate|        4|             1|                4|
|     2|0.226190476| HMate|        5|             2|                5|
|     3|0.273809524| HMate|        5|             3|                5|
|     4|0.297619048| HMate|        5|             4|                5|
|     5|0.678571429| HMate|        3|             5|                3|
|     6| 0.69047619| HMate|        3|             6|                3|
|     7|0.607142857| HMate|        3|             7|                3|
|     8|0.285714286| HMate|        5|             8|                5|
|     9| 0.44047619| HMate|        4|             9|                4|
|    10|0.345238095| HMate|        4|            10|                4|
|    11|0.178571429| HMate|        5|            11|                5|
|    12|0.785714286| HMate|        2|            12|                2|
|    13|0.404761905| HMate|        4|            13|                4|
|    14|0.476190476| HMate|        4|            14|                4|
|    15|0.333333333| HMate|        5|            15|                5|
+------+-----------+------+---------+--------------+-----------------+
only showing top 20 rows

In [33]:
df_pyspark.show()

+------+-----------+------+---------+
|21A_Pr|     21A_Es|21A_Ma|21A_Es_Di|
+------+-----------+------+---------+
|   129|       null| Light|        4|
|  null|    0.34532| Water|        5|
|   131|    0.99999|  null|        1|
|   132|      0.865|  Dark|     null|
|   133|       null|  Fire|     null|
|     1|        0.5| HMate|        4|
|     2|0.226190476| HMate|        5|
|     3|0.273809524| HMate|        5|
|     4|0.297619048| HMate|        5|
|     5|0.678571429| HMate|        3|
|     6| 0.69047619| HMate|        3|
|     7|0.607142857| HMate|        3|
|     8|0.285714286| HMate|        5|
|     9| 0.44047619| HMate|        4|
|    10|0.345238095| HMate|        4|
|    11|0.178571429| HMate|        5|
|    12|0.785714286| HMate|        2|
|    13|0.404761905| HMate|        4|
|    14|0.476190476| HMate|        4|
|    15|0.333333333| HMate|        5|
+------+-----------+------+---------+
only showing top 20 rows

In [34]:
df_pyspark=spark.read.csv('pds1.csv', header=True, inferSchema=True)

In [35]:
df_pyspark.show()

+------+-----------+-------+---------+
|21A_Pr|     21A_Es| 21A_Ma|21A_Es_Di|
+------+-----------+-------+---------+
|     1|        0.5|  HMate|        4|
|     2|0.226190476|  HMate|        5|
|     3|0.273809524|  HMate|        5|
|     4|0.297619048|  HMate|        5|
|     5|0.678571429|  HMate|        3|
|     6| 0.69047619|  HMate|        3|
|     7|0.607142857|  HMate|        3|
|     8|0.285714286|  HMate|        5|
|     9| 0.44047619|  HMate|        4|
|    10|0.345238095|  HMate|        4|
|    11|0.178571429|  HMate|        5|
|    12|0.785714286|  HMate|        2|
|    13|0.404761905|  HMate|        4|
|    14|0.476190476|  HMate|        4|
|    15|0.333333333|  HMate|        5|
|    16|0.666666667|  HMate|        3|
|    17|0.380952381|HVerbal|        4|
|    18|0.797619048|HVerbal|        2|
|    19|0.535714286|HVerbal|        3|
|    20|0.416666667|HVerbal|        4|
+------+-----------+-------+---------+
only showing top 20 rows

In [51]:
from pyspark.sql.functions import col
import os

nuevosNombres= [("21A_Pr","numPregunta"),("21A_Es","estadistica"),("21A_Ma","materia"),("21A_Es_Di","dificultad")]
type(nuevosNombres)

columnExprs = [col(elem[0]).alias(elem[1]) for elem in nuevosNombres]
type(columnExprs)
columnExprs

[Column<'21A_Pr AS numPregunta'>,
 Column<'21A_Es AS estadistica'>,
 Column<'21A_Ma AS materia'>,
 Column<'21A_Es_Di AS dificultad'>]

In [50]:
transformed_df=df_pyspark.select(*columnExprs)
type(transformed_df)
transformed_df.show()

+-----------+-----------+-------+----------+
|numPregunta|estadistica|materia|dificultad|
+-----------+-----------+-------+----------+
|          1|        0.5|  HMate|         4|
|          2|0.226190476|  HMate|         5|
|          3|0.273809524|  HMate|         5|
|          4|0.297619048|  HMate|         5|
|          5|0.678571429|  HMate|         3|
|          6| 0.69047619|  HMate|         3|
|          7|0.607142857|  HMate|         3|
|          8|0.285714286|  HMate|         5|
|          9| 0.44047619|  HMate|         4|
|         10|0.345238095|  HMate|         4|
|         11|0.178571429|  HMate|         5|
|         12|0.785714286|  HMate|         2|
|         13|0.404761905|  HMate|         4|
|         14|0.476190476|  HMate|         4|
|         15|0.333333333|  HMate|         5|
|         16|0.666666667|  HMate|         3|
|         17|0.380952381|HVerbal|         4|
|         18|0.797619048|HVerbal|         2|
|         19|0.535714286|HVerbal|         3|
|         20|0.416666667|HVerbal|         4|
+-----------+-----------+-------+----------+
only showing top 20 rows

## Pyspark Data frame
- Filter Operation
- &, | , ==
- ~

In [52]:
df_pyspark = transformed_df
df_pyspark.show()

+-----------+-----------+-------+----------+
|numPregunta|estadistica|materia|dificultad|
+-----------+-----------+-------+----------+
|          1|        0.5|  HMate|         4|
|          2|0.226190476|  HMate|         5|
|          3|0.273809524|  HMate|         5|
|          4|0.297619048|  HMate|         5|
|          5|0.678571429|  HMate|         3|
|          6| 0.69047619|  HMate|         3|
|          7|0.607142857|  HMate|         3|
|          8|0.285714286|  HMate|         5|
|          9| 0.44047619|  HMate|         4|
|         10|0.345238095|  HMate|         4|
|         11|0.178571429|  HMate|         5|
|         12|0.785714286|  HMate|         2|
|         13|0.404761905|  HMate|         4|
|         14|0.476190476|  HMate|         4|
|         15|0.333333333|  HMate|         5|
|         16|0.666666667|  HMate|         3|
|         17|0.380952381|HVerbal|         4|
|         18|0.797619048|HVerbal|         2|
|         19|0.535714286|HVerbal|         3|
|         20|0.416666667|HVerbal|         4|
+-----------+-----------+-------+----------+
only showing top 20 rows

### Filter operations

In [53]:
### Filtros
df_pyspark.filter("dificultad <=3").show()

+-----------+-----------+-------+----------+
|numPregunta|estadistica|materia|dificultad|
+-----------+-----------+-------+----------+
|          5|0.678571429|  HMate|         3|
|          6| 0.69047619|  HMate|         3|
|          7|0.607142857|  HMate|         3|
|         12|0.785714286|  HMate|         2|
|         16|0.666666667|  HMate|         3|
|         18|0.797619048|HVerbal|         2|
|         19|0.535714286|HVerbal|         3|
|         21|0.857142857|HVerbal|         2|
|         22|0.761904762|HVerbal|         2|
|         23| 0.69047619|HVerbal|         3|
|         24|0.607142857|HVerbal|         3|
|         25|0.761904762|HVerbal|         2|
|         28|0.797619048|HVerbal|         2|
|         30|0.547619048|HVerbal|         3|
|         32|0.619047619|HVerbal|         3|
|         38|0.619047619|    Bio|         3|
|         40|0.714285714|    Bio|         3|
|         44|0.761904762|    Bio|         2|
|         47|0.916666667|    Civ|         1|
|         49|0.595238095|    Civ|         3|
+-----------+-----------+-------+----------+
only showing top 20 rows

In [54]:
df_pyspark.filter('dificultad <=3').select(["numPregunta","materia"]).show()

+-----------+-------+
|numPregunta|materia|
+-----------+-------+
|          5|  HMate|
|          6|  HMate|
|          7|  HMate|
|         12|  HMate|
|         16|  HMate|
|         18|HVerbal|
|         19|HVerbal|
|         21|HVerbal|
|         22|HVerbal|
|         23|HVerbal|
|         24|HVerbal|
|         25|HVerbal|
|         28|HVerbal|
|         30|HVerbal|
|         32|HVerbal|
|         38|    Bio|
|         40|    Bio|
|         44|    Bio|
|         47|    Civ|
|         49|    Civ|
+-----------+-------+
only showing top 20 rows

In [58]:
df_pyspark.filter((df_pyspark['dificultad']<=3) & (df_pyspark["materia"]=="HVerbal")).show()

+-----------+-----------+-------+----------+
|numPregunta|estadistica|materia|dificultad|
+-----------+-----------+-------+----------+
|         18|0.797619048|HVerbal|         2|
|         19|0.535714286|HVerbal|         3|
|         21|0.857142857|HVerbal|         2|
|         22|0.761904762|HVerbal|         2|
|         23| 0.69047619|HVerbal|         3|
|         24|0.607142857|HVerbal|         3|
|         25|0.761904762|HVerbal|         2|
|         28|0.797619048|HVerbal|         2|
|         30|0.547619048|HVerbal|         3|
|         32|0.619047619|HVerbal|         3|
+-----------+-----------+-------+----------+

In [66]:
df_pyspark.filter((df_pyspark['dificultad']<=3) | (df_pyspark["materia"]=="HVerbal")).show(df_pyspark.count())

+-----------+-----------+-------+----------+
|numPregunta|estadistica|materia|dificultad|
+-----------+-----------+-------+----------+
|          5|0.678571429|  HMate|         3|
|          6| 0.69047619|  HMate|         3|
|          7|0.607142857|  HMate|         3|
|         12|0.785714286|  HMate|         2|
|         16|0.666666667|  HMate|         3|
|         17|0.380952381|HVerbal|         4|
|         18|0.797619048|HVerbal|         2|
|         19|0.535714286|HVerbal|         3|
|         20|0.416666667|HVerbal|         4|
|         21|0.857142857|HVerbal|         2|
|         22|0.761904762|HVerbal|         2|
|         23| 0.69047619|HVerbal|         3|
|         24|0.607142857|HVerbal|         3|
|         25|0.761904762|HVerbal|         2|
|         26|0.047619048|HVerbal|         5|
|         27|0.392857143|HVerbal|         4|
|         28|0.797619048|HVerbal|         2|
|         29| 0.19047619|HVerbal|         5|
|         30|0.547619048|HVerbal|         3|
|         31|0.333333333|HVerbal|         5|
|         32|0.619047619|HVerbal|         3|
|         38|0.619047619|    Bio|         3|
|         40|0.714285714|    Bio|         3|
|         44|0.761904762|    Bio|         2|
|         47|0.916666667|    Civ|         1|
|         49|0.595238095|    Civ|         3|
|         50| 0.94047619|    Civ|         1|
|         52|0.904761905|    Civ|         1|
|         58|0.821428571|    Esp|         2|
|         59|0.619047619|    Esp|         3|
|         62|0.607142857|    Esp|         3|
|         67|0.892857143|    Esp|         1|
|         68|0.678571429|    Esp|         3|
|         69|0.773809524|    Fis|         2|
|         70|0.821428571|    Fis|         2|
|         74|0.714285714|    Fis|         3|
|         79|0.666666667|    Fis|         3|
|         81|0.833333333|    Geo|         2|
|         94|0.547619048| HisMex|         3|
|         96|0.630952381| HisMex|         3|
|        100|0.547619048| HisUni|         3|
|        103|0.773809524| HisUni|         2|
|        105|0.535714286|   Mate|         3|
|        106|0.654761905|   Mate|         3|
|        111| 0.69047619|   Mate|         3|
|        116|0.726190476|   Mate|         2|
|        120|0.630952381|    Qui|         3|
+-----------+-----------+-------+----------+

In [68]:
df_pyspark.filter(df_pyspark['dificultad']<=3).show()

+-----------+-----------+-------+----------+
|numPregunta|estadistica|materia|dificultad|
+-----------+-----------+-------+----------+
|          5|0.678571429|  HMate|         3|
|          6| 0.69047619|  HMate|         3|
|          7|0.607142857|  HMate|         3|
|         12|0.785714286|  HMate|         2|
|         16|0.666666667|  HMate|         3|
|         18|0.797619048|HVerbal|         2|
|         19|0.535714286|HVerbal|         3|
|         21|0.857142857|HVerbal|         2|
|         22|0.761904762|HVerbal|         2|
|         23| 0.69047619|HVerbal|         3|
|         24|0.607142857|HVerbal|         3|
|         25|0.761904762|HVerbal|         2|
|         28|0.797619048|HVerbal|         2|
|         30|0.547619048|HVerbal|         3|
|         32|0.619047619|HVerbal|         3|
|         38|0.619047619|    Bio|         3|
|         40|0.714285714|    Bio|         3|
|         44|0.761904762|    Bio|         2|
|         47|0.916666667|    Civ|         1|
|         49|0.595238095|    Civ|         3|
+-----------+-----------+-------+----------+
only showing top 20 rows

In [69]:
df_pyspark.filter(~(df_pyspark['dificultad']<=3)).show()

+-----------+-----------+-------+----------+
|numPregunta|estadistica|materia|dificultad|
+-----------+-----------+-------+----------+
|          1|        0.5|  HMate|         4|
|          2|0.226190476|  HMate|         5|
|          3|0.273809524|  HMate|         5|
|          4|0.297619048|  HMate|         5|
|          8|0.285714286|  HMate|         5|
|          9| 0.44047619|  HMate|         4|
|         10|0.345238095|  HMate|         4|
|         11|0.178571429|  HMate|         5|
|         13|0.404761905|  HMate|         4|
|         14|0.476190476|  HMate|         4|
|         15|0.333333333|  HMate|         5|
|         17|0.380952381|HVerbal|         4|
|         20|0.416666667|HVerbal|         4|
|         26|0.047619048|HVerbal|         5|
|         27|0.392857143|HVerbal|         4|
|         29| 0.19047619|HVerbal|         5|
|         31|0.333333333|HVerbal|         5|
|         33|0.380952381|    Bio|         4|
|         34|0.357142857|    Bio|         4|
|         35|0.297619048|    Bio|         5|
+-----------+-----------+-------+----------+
only showing top 20 rows

## Group by y agregar funciones

In [70]:
df_pyspark.printSchema()

root
 |-- numPregunta: integer (nullable = true)
 |-- estadistica: double (nullable = true)
 |-- materia: string (nullable = true)
 |-- dificultad: integer (nullable = true)

In [79]:
## Group by
df_pyspark.groupBy('materia').avg().show()

+-------+----------------+-------------------+------------------+
|materia|avg(numPregunta)|   avg(estadistica)|   avg(dificultad)|
+-------+----------------+-------------------+------------------+
|    Fis|            74.5| 0.5089285714166667|              3.75|
|   Mate|           110.5|0.45833333341666677|              3.75|
|    Bio|            38.5|0.46527777775000007|              3.75|
|    Qui|           122.5|0.29662698416666666| 4.666666666666667|
|    Geo|            86.5| 0.4097222223333333|              4.25|
|    Esp|            62.5| 0.4950396824999999|3.5833333333333335|
|    Civ|            50.5|      0.52083333325|               3.5|
| HisUni|           101.5| 0.4246031748333334|               4.0|
| HisMex|            95.5|0.42857142866666664|               4.0|
|HVerbal|            24.5|    0.5461309524375|              3.25|
|  HMate|             8.5|    0.4494047619375|               4.0|
+-------+----------------+-------------------+------------------+

In [81]:
df_pyspark.groupBy('materia').mean().show()

+-------+----------------+-------------------+------------------+
|materia|avg(numPregunta)|   avg(estadistica)|   avg(dificultad)|
+-------+----------------+-------------------+------------------+
|    Fis|            74.5| 0.5089285714166667|              3.75|
|   Mate|           110.5|0.45833333341666677|              3.75|
|    Bio|            38.5|0.46527777775000007|              3.75|
|    Qui|           122.5|0.29662698416666666| 4.666666666666667|
|    Geo|            86.5| 0.4097222223333333|              4.25|
|    Esp|            62.5| 0.4950396824999999|3.5833333333333335|
|    Civ|            50.5|      0.52083333325|               3.5|
| HisUni|           101.5| 0.4246031748333334|               4.0|
| HisMex|            95.5|0.42857142866666664|               4.0|
|HVerbal|            24.5|    0.5461309524375|              3.25|
|  HMate|             8.5|    0.4494047619375|               4.0|
+-------+----------------+-------------------+------------------+

In [83]:
df_pyspark.groupBy('dificultad').count().show()

+----------+-----+
|dificultad|count|
+----------+-----+
|         1|    4|
|         3|   24|
|         5|   41|
|         4|   46|
|         2|   13|
+----------+-----+

In [85]:
df_pyspark.agg({'estadistica':'mean'}).show()

+-------------------+
|   avg(estadistica)|
+-------------------+
|0.46019345241406256|
+-------------------+

In [87]:
df_pyspark.groupBy('materia').max().show()

+-------+----------------+----------------+---------------+
|materia|max(numPregunta)|max(estadistica)|max(dificultad)|
+-------+----------------+----------------+---------------+
|    Fis|              80|     0.821428571|              5|
|   Mate|             116|     0.726190476|              5|
|    Bio|              44|     0.761904762|              5|
|    Qui|             128|     0.630952381|              5|
|    Geo|              92|     0.833333333|              5|
|    Esp|              68|     0.892857143|              5|
|    Civ|              56|      0.94047619|              5|
| HisUni|             104|     0.773809524|              5|
| HisMex|              98|     0.630952381|              5|
|HVerbal|              32|     0.857142857|              5|
|  HMate|              16|     0.785714286|              5|
+-------+----------------+----------------+---------------+